@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.main{
  .member{
    box-sizing: border-box;
    &_wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      width: vw(440);
      height: 100%;
      margin: 0 auto;
      padding-top: vw(10);
      .member_col_l{
        display: flex;
        justify-content: flex-end;
        position: relative;
        width: vw(200);
        height: vw(388);
        .member_num{
          transform: translateZ(0);
          width: vw(388);
          height: vw(388);
          background: #e60000;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          span{
            font-size: vw(88);
            line-height: 1;
            color: #fff;
            font-family: $ropa;
            position: absolute;
            top: 0;
            left: vw(20);
          }
          &:after{
            content: '';
            width: vw(388);
            height: vw(388);
            border: 1px solid #b8b7b7;
            position: absolute;
            top: 47%;
            left: 53%;
            transform: translate(-50%, -50%);
            display: block;
          }
        }
        picture{
          width: 100%;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          display: block;
          img{
            display: block;
            margin: 0 auto;
            height: auto;
            margin-left: vw(-32);
            width: vw(272);
          }
        }
      }
      .member_col_r{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: vw(-20);
        &_ct{
          padding-left: vw(50);
          word-wrap: break-word;
          em{
            font-size: vw(20);
            line-height: vw(36);
            color: #333333;
            background: #fff;
            display: inline-block;
            margin-bottom: vw(17);
            padding: 0 vw(10);
            font-style: normal;
            font-family: $noto;
          }
          h3{
            font-weight: 500;
            color: #333333;
            margin-bottom: vw(30);
            line-height: 0;
            span{
              font-size: vw(48);
              line-height: 1.5;
              background: #fff;
              padding: vw(5) vw(20);
              letter-spacing: vw(3);
              font-family: $noto;
              display: inline-block;
            }
            small{
              background: #fff;
              font-size: vw(20);
              line-height: 2;
              font-family: $ropa;
              padding: vw(5) vw(20);
              font-weight: 400;
              display: inline-block;
              margin-top: vw(-7);
            }
          }
          p{
            font-size: vw(28);
            line-height: vw(46);
            color: #fff;
            padding-left: vw(70);
            position: relative;
            transform: translateZ(0);
            font-family: $noto;
            &:before{
              content: '';
              width: vw(60);
              height: 1px;
              background: #fff;
              position: absolute;
              top: vw(20);
              left: 0;
            }
          }
        }
      }
    }
    .top_scr{
      position: absolute;
      bottom: vw(30);
      right: vw(30);
      img{
        width: vw(156);
        height: auto;
      }
    }
  }
  .overview{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    &_ct{
      width: vw(450);
      margin: 0 auto;
      p{
        font-size: vw(20);
        line-height: vw(34);
        color: #fff;
      }
      .note{
        font-size: vw(16);
        line-height: vw(28);
        color: rgba(#fff, .6);
        margin-top: vw(10);
        display: block;
        text-align: justify;
      }
    }
  }
  .profile{
    &_wrapper{
      width: vw(450);
      margin: 0 auto;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      transform: translateZ(0);
      figure{
        width: 100%;
        margin: 0;
        z-index: -1;
        order: 1;
        img{
          width: 100%;
          height: auto;
        }
      }
      .profile_col{
        width: 100%;
        order: 2;
        margin-top: vw(-40);
        &_ct{
          z-index: 1;
          padding-left: vw(20);
          h3{
            margin-bottom: vw(30);
            line-height: 0;
            span{
              font-size: vw(32);
              line-height: vw(48);
              font-family: $noto;
              font-weight: 500;
              color: #333333;
              letter-spacing: vw(2);
              padding: vw(10);
              background: #fff;
              display: inline-block;
              &:not(:first-child){
                margin-top: vw(-7);
              }
            }
          }
          p{
            font-size: vw(20);
            line-height: vw(34);
            color: #fff;
          }
          .note{
            font-size: vw(16);
            line-height: vw(28);
            color: rgba(#fff, .6);
            margin-top: vw(10);
            display: block;
            text-align: justify;
          }
        }
      }
    }
  }
  .list{
    z-index: 10;
    &_wrapper{
      height: 100%;
      .list_share{
        height: vw(128);
        background: #272727;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        span{
          font-size: vw(16);
          line-height: 1;
          color: #fff;
          font-family: $ropa;
          display: block;
          text-align: center;
          margin-bottom: vw(10);
        }
        ul{
          display: flex;
          align-items: center;
          li{
            margin: 0 vw(19);
            a{
              display: block;
              .ic{
                display: block;
                &_facebook{
                  width: vw(40);
                  height: vw(40);
                  background: url('../images/ic_fb_mem.png') top no-repeat;
                  background-size: contain;
                  display: block;
                }
                &_twitter{
                  width: vw(43);
                  height: vw(35);
                  background: url('../images/ic_tw_mem.png') top no-repeat;
                  background-size: contain;
                  display: block;
                }
              }
            }
          }
        }
      }
      .list_mem{
        height: calc(100% - #{vw(192)});
        ul{
          display: flex;
          flex-wrap: wrap;
          height: 100%;
          li{
            width: 50%;
            height: 50%;
            a{
              transition: all .3s ease-out;
              background-position: top center;
              background-repeat: no-repeat;
              background-size: cover;
              text-decoration: none;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              padding: vw(60) vw(30);
              box-sizing: border-box;
              dl{
                display: flex;
                align-items: center;
                dt{
                  width: vw(64);
                  height: vw(64);
                  background: #fff;
                  font-size: vw(28);
                  line-height: 1;
                  color: #333333;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-family: $ropa;
                  margin-right: vw(20);
                }
                dd{
                  font-size: vw(24);
                  line-height: vw(32);
                  color: #fff;
                  text-align: left;
                  font-family: $noto;
                  position: relative;
                  letter-spacing: vw(2);
                  span{
                    font-size: vw(18);
                    line-height: vw(28);
                    display: block;
                    position: relative;
                    letter-spacing: vw(2);
                  }
                  em{
                    font-style: normal;
                    display: flex;
                    align-items: center;
                    &:after{
                      content: '';
                      width: vw(25);
                      height: vw(8);
                      background: url('/next/common/images/ic_arrow.png') no-repeat;
                      background-size: contain;
                      display: block;
                      margin-left: vw(10);
                    }
                  }
                }
              }
            }
          }
          .mem1{
            a{
              background-image: url('../images/sp/link_member1.jpg');
            }
          }
          .mem2{
            a{
              background-image: url('../images/sp/link_member2.jpg');
            }
          }
          .mem3{
            a{
              background-image: url('../images/sp/link_member3.jpg');
            }
          }
          .mem4{
            a{
              background-image: url('../images/sp/link_member4.jpg');
            }
          }
        }
      }
    }
  }
  &.member1{
    .member{
      background: url('../member_01/images/sp/bg_splash.jpg') top no-repeat;
      background-size: cover;
    }
    .overview{
      background: url('../member_01/images/sp/bg_overview.jpg') top no-repeat;
      background-size: cover;
    }
    .profile1{
      background: url('../member_01/images/sp/bg_profile1.jpg') top no-repeat;
      background-size: cover;
    }
    .profile2{
      background: url('../member_01/images/sp/bg_profile2.jpg') top no-repeat;
      background-size: cover;
      .profile_wrapper{
        padding-top: vw(250);
      }
    }
    .profile3{
      background: url('../member_01/images/sp/bg_profile3.jpg') top no-repeat;
      background-size: cover;
      .profile_wrapper{
        padding-top: vw(300);
      }
    }
    .profile4{
      background: url('../member_01/images/sp/bg_profile4.jpg') top no-repeat;
      background-size: cover;
      .profile_wrapper{
        .profile_col_ct{
          margin-top: vw(-60);
        }
      }
    }
  }
  &.member2{
    .member{
      background: url('../member_02/images/sp/bg_splash.jpg') center no-repeat;
      background-size: cover;
    }
    .overview{
      background: url('../member_02/images/sp/bg_overview.jpg') center no-repeat;
      background-size: cover;
    }
    .profile1{
      background: url('../member_02/images/sp/bg_profile1.jpg') center no-repeat;
      background-size: cover;
    }
    .profile2{
      background: url('../member_02/images/sp/bg_profile2.jpg') center no-repeat;
      background-size: cover;
      .profile_wrapper{
        padding-top: vw(250);
      }
    }
    .profile3{
      background: url('../member_02/images/sp/bg_profile3.jpg') center no-repeat;
      background-size: cover;
      .profile_wrapper{
        .profile_col_ct{
          margin-top: vw(-60);
        }
      }
    }
    .profile4{
      background: url('../member_02/images/sp/bg_profile4.jpg') center no-repeat;
      background-size: cover;
    }
  }
  &.member3{
    .member{
      background: url('../member_03/images/sp/bg_splash.jpg') center no-repeat;
      background-size: cover;
    }
    .overview{
      background: url('../member_03/images/sp/bg_overview.jpg') center no-repeat;
      background-size: cover;
    }
    .profile1{
      background: url('../member_03/images/sp/bg_profile1.jpg') center no-repeat;
      background-size: cover;
    }
    .profile2{
      background: url('../member_03/images/sp/bg_profile2.jpg') center no-repeat;
      background-size: cover;
      .profile_wrapper{
        padding-top: vw(250);
      }
    }
    .profile3{
      background: url('../member_03/images/sp/bg_profile3.jpg') center no-repeat;
      background-size: cover;
      .profile_wrapper{
        padding-top: vw(320);
      }
    }
    .profile4{
      background: url('../member_03/images/sp/bg_profile4.jpg') center no-repeat;
      background-size: cover;
      .profile_wrapper{
        .profile_col_ct{
          margin-top: vw(-60);
        }
      }
    }
  }
  &.member4{
    .member{
      background: url('../member_04/images/sp/bg_splash.jpg') center no-repeat;
      background-size: cover;
    }
    .overview{
      background: url('../member_04/images/sp/bg_overview.jpg') center no-repeat;
      background-size: cover;
    }
    .profile1{
      background: url('../member_04/images/sp/bg_profile1.jpg') center no-repeat;
      background-size: cover;
    }
    .profile2{
      background: url('../member_04/images/sp/bg_profile2.jpg') center no-repeat;
      background-size: cover;
    }
    .profile3{
      background: url('../member_04/images/sp/bg_profile3.jpg') center no-repeat;
      background-size: cover;
    }
    .profile4{
      background: url('../member_04/images/sp/bg_profile4.jpg') center no-repeat;
      background-size: cover;
      .profile_wrapper{
        .profile_col_ct{
          margin-top: vw(-60);
        }
      }
    }
  }
}
.aside{
  &_menu{
    width: 100%;
    height: auto;
    ul{
      li{
        span{
          opacity: 0 !important;
        }
      }
    }
  }
}