@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.main{
  &.member1{
    .member{
      background: url('../member_01/images/bg_splash.jpg') center no-repeat;
      background-size: cover;
    }
    .overview{
      background: url('../member_01/images/bg_overview.jpg') center no-repeat;
      background-size: cover;
    }
    .profile1{
      background: url('../member_01/images/bg_profile1.jpg') center no-repeat;
      background-size: cover;
    }
    .profile2{
      background: url('../member_01/images/bg_profile2.jpg') center no-repeat;
      background-size: cover;
    }
    .profile3{
      background: url('../member_01/images/bg_profile3.jpg') center no-repeat;
      background-size: cover;
    }
    .profile4{
      background: url('../member_01/images/bg_profile4.jpg') center no-repeat;
      background-size: cover;
    }
  }
  &.member2{
    .member{
      background: url('../member_02/images/bg_splash.jpg') center no-repeat;
      background-size: cover;
    }
    .overview{
      background: url('../member_02/images/bg_overview.jpg') center no-repeat;
      background-size: cover;
    }
    .profile1{
      background: url('../member_02/images/bg_profile1.jpg') center no-repeat;
      background-size: cover;
    }
    .profile2{
      background: url('../member_02/images/bg_profile2.jpg') center no-repeat;
      background-size: cover;
    }
    .profile3{
      background: url('../member_02/images/bg_profile3.jpg') center no-repeat;
      background-size: cover;
    }
    .profile4{
      background: url('../member_02/images/bg_profile4.jpg') center no-repeat;
      background-size: cover;
    }
  }
  &.member3{
    .member{
      background: url('../member_03/images/bg_splash.jpg') center no-repeat;
      background-size: cover;
    }
    .overview{
      background: url('../member_03/images/bg_overview.jpg') center no-repeat;
      background-size: cover;
    }
    .profile1{
      background: url('../member_03/images/bg_profile1.jpg') center no-repeat;
      background-size: cover;
    }
    .profile2{
      background: url('../member_03/images/bg_profile2.jpg') center no-repeat;
      background-size: cover;
    }
    .profile3{
      background: url('../member_03/images/bg_profile3.jpg') center no-repeat;
      background-size: cover;
    }
    .profile4{
      background: url('../member_03/images/bg_profile4.jpg') center no-repeat;
      background-size: cover;
    }
  }
  &.member4{
    .member{
      background: url('../member_04/images/bg_splash.jpg') center no-repeat;
      background-size: cover;
    }
    .overview{
      background: url('../member_04/images/bg_overview.jpg') center no-repeat;
      background-size: cover;
    }
    .profile1{
      background: url('../member_04/images/bg_profile1.jpg') center no-repeat;
      background-size: cover;
    }
    .profile2{
      background: url('../member_04/images/bg_profile2.jpg') center no-repeat;
      background-size: cover;
    }
    .profile3{
      background: url('../member_04/images/bg_profile3.jpg') center no-repeat;
      background-size: cover;
    }
    .profile4{
      background: url('../member_04/images/bg_profile4.jpg') center no-repeat;
      background-size: cover;
    }
  }
  .member{
    box-sizing: border-box;
    &_wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      .member_col_l{
        width: vh(700);
        height: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        .member_num{
          transform: translateZ(0);
          width: 70vh;
          height: 70vh;
          background: #e60000;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          span{
            font-size: vh(168);
            line-height: 1;
            color: #fff;
            font-family: $ropa;
            position: absolute;
            top: 0;
            left: vh(30);
            letter-spacing: vh(3);
          }
          &:after{
            content: '';
            width: 70vh;
            height: 70vh;
            border: 1px solid #b8b7b7;
            position: absolute;
            top: 47%;
            left: 53%;
            transform: translate(-50%, -50%);
            display: block;
          }
        }
        picture{
          width: 100%;
          height: 100%;
          left: 0;
          right: 0;
          bottom: 0;
          position: relative;
          display: flex;
          align-items: flex-end;
          img{
            display: block;
            margin: 0 auto;
            height: 80vh;
            width: auto;
          }
        }
      }
      .member_col_r{
        width: pc(470);
        position: relative;
        height: 100%;
        margin-left: pc(-40);
        display: flex;
        align-items: center;
        &_ct{
          em{
            font-size: pc(24);
            line-height: pc(36);
            color: #333333;
            background: #fff;
            display: inline-block;
            margin-bottom: pc(17);
            padding: 0 pc(10);
            font-style: normal;
            font-family: $noto;
          }
          h3{
            font-weight: 500;
            color: #333333;
            margin-bottom: pc(40);
            span{
              font-size: pc(60);
              line-height: 1.5;
              background: #fff;
              padding: pc(5) pc(20);
              letter-spacing: pc(3);
              font-family: $noto;
              display: inline-block;
            }
            small{
              background: #fff;
              font-size: pc(20);
              line-height: 2;
              font-family: $ropa;
              padding: pc(5) pc(20);
              font-weight: 400;
              display: inline-block;
              margin-top: pc(-8);
            }
          }
          p{
            font-size: pc(28);
            line-height: pc(46);
            color: #fff;
            padding-left: pc(90);
            position: relative;
            transform: translateZ(0);
            font-family: $noto;
            box-sizing: border-box;
            &:before{
              content: '';
              width: pc(80);
              height: 1px;
              background: #fff;
              position: absolute;
              top: pc(20);
              left: 0;
            }
          }
        }
      }
    }
    .top_scr{
      position: absolute;
      bottom: 40px;
      right: 40px;
      transition: opacity .3s ease-out;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  .overview{
    padding: 0 pc(80);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    &_ct{
      width: pc(450);
      padding-left: pc(80);
      box-sizing: border-box;
      p{
        font-size: pc(14);
        line-height: pc(26);
        color: #fff;
        text-align: justify;
      }
      .note{
        font-size: pc(11);
        line-height: pc(18);
        color: rgba(#fff, .6);
        margin-top: pc(40);
        display: block;
        text-align: justify;
      }
    }
  }
  .profile{
    &_wrapper{
      padding: 0 pc(80);
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      transform: translateZ(0);
      figure{
        width: pc(700);
        max-width: 60%;
        margin: 0;
        z-index: -1;
        img{
          width: 100%;
          height: auto;
        }
      }
      .profile_col{
        width: calc(100% - #{pc(700)});
        &_ct{
          margin-left: pc(-60);
          z-index: 1;
          h3{
            font-size: 0;
            display: inline-block;
            margin-bottom: pc(30);
            span{
              font-size: pc(36);
              line-height: pc(56);
              font-family: $noto;
              font-weight: 500;
              color: #333333;
              padding: 0 pc(10);
              display: inline-flex;
              height: pc(56);
              align-items: center;
            }
          }
          p{
            font-size: pc(14);
            line-height: pc(26);
            color: #fff;
            text-align: justify;
          }
          .note{
            font-size: pc(11);
            line-height: pc(18);
            color: rgba(#fff, .6);
            margin-top: pc(30);
            display: block;
            text-align: justify;
          }
        }
      }
    }
    &.txt_l{
      .profile_wrapper{
        justify-content: flex-start;
        .profile_col{
          width: pc(460);
          &_ct{
            width: 100%;
            box-sizing: border-box;
            position: relative;
            right: pc(-60);
            margin-left: 0;
            padding-left: pc(50);
          }
        }
      }
    }
    &.txt_r{
      .profile_wrapper{
        justify-content: flex-end;
      }
    }
  }
  .list{
    z-index: 10;
    &_wrapper{
      .list_share{
        height: vh(120);
        background: #272727;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
          font-size: vh(16);
          line-height: 1;
          color: #fff;
          font-family: $ropa;
        }
        ul{
          display: flex;
          align-items: center;
          li{
            margin-left: vh(16);
            a{
              display: block;
              .ic{
                display: block;
                transition: background .3s ease-out;
                &_facebook{
                  width: 25px;
                  height: 24px;
                  background: url('../images/ic_fb_mem.png') top no-repeat;
                  background-size: contain;
                  display: block;
                }
                &_twitter{
                  width: 28px;
                  height: 23px;
                  background: url('../images/ic_tw_mem.png') top no-repeat;
                  background-size: contain;
                  display: block;
                }
              }
              &:hover{
                .ic{
                  &_facebook{
                    background: url('../images/ic_fb_mem_h.png') bottom no-repeat;
                    background-size: contain;
                  }
                  &_twitter{
                    background: url('../images/ic_tw_mem_h.png') bottom no-repeat;
                    background-size: contain;
                  }
                }
              }
            }
          }
        }
      }
      .list_mem{
        height: calc(100vh - #{vh(120)});
        ul{
          display: flex;
          height: 100%;
          li{
            width: 25%;
            height: 100%;
            a{
              background-color: #333;
              transition: background-image .3s ease-out;
              background-position: top center;
              background-repeat: no-repeat;
              background-size: cover;
              -webkit-transform-style: preserve-3d;
              -webkit-backface-visibility: hidden;
              text-decoration: none;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              padding: vh(30) 0;
              box-sizing: border-box;
              dl{
                margin-bottom: vh(50);
                dt{
                  width: vh(90);
                  height: vh(90);
                  background: #fff;
                  font-size: vh(36);
                  line-height: 1;
                  color: #333333;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-family: $ropa;
                  margin: 0 auto vh(15);
                }
                dd{
                  font-size: vh(20);
                  line-height: vh(32);
                  color: #fff;
                  text-align: center;
                  font-family: $noto;
                  padding-bottom: vh(20);
                  position: relative;
                  span{
                    font-size: vh(14);
                    line-height: vh(28);
                    display: block;
                  }
                  em{
                    font-style: normal;
                    font-weight: 500;
                    letter-spacing: 2px;
                  }
                  &:after{
                    content: '';
                    width: vh(25);
                    height: vh(8);
                    background: url('/next/common/images/ic_arrow.png') no-repeat;
                    background-size: contain;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                  }
                }
              }
            }
          }
          .mem1{
            a{
              background-image: url('../images/link_member1.jpg');
              &:hover{
                background-image: url('../images/link_member1_r.jpg');
              }
            }
          }
          .mem2{
            a{
              background-image: url('../images/link_member2.jpg');
              &:hover{
                background-image: url('../images/link_member2_r.jpg');
              }
            }
          }
          .mem3{
            a{
              background-image: url('../images/link_member3.jpg');
              &:hover{
                background-image: url('../images/link_member3_r.jpg');
              }
            }
          }
          .mem4{
            a{
              background-image: url('../images/link_member4.jpg');
              &:hover{
                background-image: url('../images/link_member4_r.jpg');
              }
            }
          }
        }
      }
    }
  }
}
.aside{
  &_menu{
    width: 100%;
    height: auto;
    ul{
      li{
        span{
          opacity: 0 !important;
        }
      }
    }
  }
}