@media screen and (min-width: 769px), print {
  .about {
    padding: 106px 15px 163px;
    max-width: 527px;
  }
  .about figure {
    text-align: center;
    margin-bottom: 15px;
  }
  .about p {
    padding: 50px 0;
    position: relative;
  }
  .about p:after {
    content: '';
    width: 101px;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .about small {
    padding: 41px 0 37px;
    display: block;
    position: relative;
  }
  .about small:after {
    content: '';
    width: 101px;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .banner img {
    width: 100%;
  }
  .info {
    padding: 195px 0 40px;
  }
  .info .title_info {
    text-align: center;
    padding-bottom: 47px;
    margin-bottom: 40px;
    position: relative;
  }
  .info .title_info:after {
    content: '';
    width: 92px;
    height: 1px;
    background: #a1a1a1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .info .filter {
    padding: 85px 48px 60px 53px;
  }
  .info .filter li {
    width: 177px;
    margin: 0 21px 0 9px;
    text-align: center;
    border: 1px solid #000;
  }
  .info .filter li:last-child {
    margin: 0;
  }
  .info .filter li a {
    display: block;
    padding: 13px 0;
  }
  .info .filter li:hover {
    border-color: #7f7f7f;
  }
  .info .group_info {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .info .group_info .box_info {
    width: -webkit-calc(33.333%);
    width: -moz-calc(33.333%);
    width: calc(33.333%);
    padding: 0 55px;
    margin: 48px 0;
  }
  .info .group_info .box_info a small {
    font-size: 1.2rem;
    text-align: right;
    display: block;
  }
  .info .group_info .box_info a figure {
    margin: 16px 0 25px;
    position: relative;
    background: #000;
  }
  .info .group_info .box_info a figure img {
    width: 100%;
  }
  .info .group_info .box_info a figure:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
  }
  .info .group_info .box_info a figure .box_hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 124px;
    height: 124px;
    color: #fff;
    border: 1px solid #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 20px;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
  }
  .info .group_info .box_info a figure .box_hover time {
    display: block;
    font-family: Arial;
    font-size: 1.1rem;
    font-style: italic;
    padding-bottom: 10px;
    margin-bottom: 2px;
    border-bottom: 1px solid #fff;
    -webkit-transform: translate(-200px, 200px);
       -moz-transform: translate(-200px, 200px);
        -ms-transform: translate(-200px, 200px);
            transform: translate(-200px, 200px);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .info .group_info .box_info a figure .box_hover em {
    font-family: Times New Roman;
    font-size: 1.9rem;
    -webkit-transform: translate(-200px, 200px);
       -moz-transform: translate(-200px, 200px);
        -ms-transform: translate(-200px, 200px);
            transform: translate(-200px, 200px);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .info .group_info .box_info a:hover {
    opacity: 1;
  }
  .info .group_info .box_info a:hover figure img {
    opacity: 1;
  }
  .info .group_info .box_info a:hover figure:before {
    opacity: 1;
  }
  .info .group_info .box_info a:hover figure .box_hover {
    opacity: 1;
  }
  .info .group_info .box_info a:hover figure .box_hover time {
    -webkit-transform: translate(0px, 0px);
       -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition-delay: .2s;
       -moz-transition-delay: .2s;
            transition-delay: .2s;
  }
  .info .group_info .box_info a:hover figure .box_hover em {
    -webkit-transform: translate(0px, 0px);
       -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition-delay: .3s;
       -moz-transition-delay: .3s;
            transition-delay: .3s;
  }
  .info .pagination {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 32px;
    margin-top: 102px;
  }
  .info .pagination li a {
    display: block;
    font-family: Arial;
    font-size: 1.5rem;
    font-weight: normal;
    color: #a7a7a7;
    margin: 0 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
  }
  .info .pagination li a:hover {
    color: #000;
    border-bottom: 1px solid #000;
  }
  .info .pagination li .active {
    color: #000;
    border-bottom: 1px solid #000;
    width: 10px;
  }
  .info .pagination li .next:hover {
    color: #000;
    border-bottom: 1px solid transparent;
  }
  .info .pagination li .next img {
    vertical-align: initial;
  }
  .develop {
    padding: 206px 0 250px;
  }
  .develop figure {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .develop figure img {
    margin-top: -206px;
    margin-left: 18px;
  }
  .develop .content_develop {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 530px;
  }
  .develop .content_develop small {
    text-align: center;
    display: block;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-right: 20px;
  }
  .develop .content_develop .title_develop {
    text-align: center;
    padding: 31px 0 50px;
    margin-bottom: 58px;
    position: relative;
  }
  .develop .content_develop .title_develop img {
    margin-left: -14px;
  }
  .develop .content_develop .title_develop:after {
    content: '';
    width: 638px;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: -117px;
    background: #000;
  }
  .develop .content_develop .btn_develop {
    margin: 56px 0 53px;
  }
  .develop .content_develop .btn_develop li {
    width: 151px;
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    margin-right: 18px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  .develop .content_develop .btn_develop li:first-child {
    margin-right: 12px;
  }
  .develop .content_develop .btn_develop li a {
    display: block;
    padding: 15px 0;
    line-height: 1.3rem;
  }
  .develop .content_develop .btn_develop li:hover {
    border-color: #7f7f7f;
  }
  .develop .content_develop .btn_more {
    float: right;
    margin: 53px 48px 0;
  }
  .promotion {
    padding: 116px 0 136px;
    background: -webkit-linear-gradient(right, #f7f7f7 0, #f7f7f7 96%, transparent 96%);
    background: -moz-linear-gradient(right, #f7f7f7 0, #f7f7f7 96%, transparent 96%);
    background: linear-gradient(to left, #f7f7f7 0, #f7f7f7 96%, transparent 96%);
  }
  .promotion .promotion_inner .content_promotion {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 421px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 421px;
            flex: 0 0 421px;
    text-align: center;
    margin-right: 25px;
    padding: 0 24px;
  }
  .promotion .promotion_inner .content_promotion small {
    font-size: 1.3rem;
    display: block;
    padding: 35px 0 30px;
    letter-spacing: 2px;
    margin-left: 28px;
  }
  .promotion .promotion_inner .content_promotion .title_promotion {
    padding-bottom: 43px;
    margin-bottom: 44px;
    position: relative;
  }
  .promotion .promotion_inner .content_promotion .title_promotion img {
    margin-left: 10px;
  }
  .promotion .promotion_inner .content_promotion .title_promotion:after {
    content: '';
    width: 571px;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
  }
  .promotion .promotion_inner .content_promotion .btn_promotion {
    margin: 45px 0 75px;
  }
  .promotion .promotion_inner .content_promotion .btn_promotion li {
    width: 182px;
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  .promotion .promotion_inner .content_promotion .btn_promotion li:first-child {
    margin-right: 6px;
  }
  .promotion .promotion_inner .content_promotion .btn_promotion li a {
    display: block;
    padding: 15px 0;
    line-height: 1.3rem;
  }
  .promotion .promotion_inner .content_promotion .btn_promotion li:hover {
    border-color: #7f7f7f;
  }
  .promotion .promotion_inner .content_promotion .btn_more {
    float: right;
    margin-right: 10px;
  }
  .promotion .promotion_inner .content_promotion .btn_more:after {
    background: url("../common/images/arrow_gray_pc.png") no-repeat;
  }
  .ecommer {
    padding: 135px 0 97px;
    text-align: center;
  }
  .ecommer figure img {
    margin-left: -32px;
    margin-right: 44px;
    margin-top: -34px;
  }
  .ecommer .content_ecommer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 504px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 504px;
            flex: 0 0 504px;
  }
  .ecommer .content_ecommer .title_ecommer {
    padding: 31px 0 42px;
    border-bottom: 1px solid #000;
  }
  .ecommer .content_ecommer .stitle_ecommer {
    padding: 44px 13px 34px;
    text-align: left;
  }
  .ecommer .content_ecommer .btn_ecommer {
    border: 1px solid #000;
    display: block;
    margin: 58px 31px 18px 16px;
    padding: 11px 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  .ecommer .content_ecommer .btn_ecommer:hover {
    border-color: #7f7f7f;
  }
  .ecommer .content_ecommer .sponsor {
    padding: 0 4px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ecommer .content_ecommer .sponsor li a {
    padding: 0 8px;
    display: block;
  }
  .ecommer .content_ecommer .nav_ecommer {
    width: 430px;
    margin: 0 auto;
  }
  .ecommer .content_ecommer .nav_ecommer li {
    position: relative;
  }
  .ecommer .content_ecommer .nav_ecommer li a {
    padding: 0 12px 0 8px;
    display: block;
  }
  .ecommer .content_ecommer .nav_ecommer li:after {
    content: '/';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .ecommer .content_ecommer .nav_ecommer li:last-child:after {
    display: none;
  }
  .ecommer .content_ecommer .btn_more {
    margin-top: 47px;
    margin-right: 28px;
    float: right;
  }
  .store {
    text-align: center;
    padding: 84px 0 66px;
    overflow: hidden;
    background: -webkit-linear-gradient(left, #f7f7f7 0, #f7f7f7 96%, transparent 96%);
    background: -moz-linear-gradient(left, #f7f7f7 0, #f7f7f7 96%, transparent 96%);
    background: linear-gradient(to right, #f7f7f7 0, #f7f7f7 96%, transparent 96%);
  }
  .store .title_store {
    margin: 32px 0 33px;
    padding-bottom: 39px;
    position: relative;
  }
  .store .title_store img {
    margin-right: 20px;
  }
  .store .title_store:after {
    content: '';
    width: 509px;
    height: 1px;
    background: #636363;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    -moz-box-shadow: 0 1px 0 0 #949494;
         box-shadow: 0 1px 0 0 #949494;
  }
  .store p img {
    margin-right: 20px;
  }
  .store .group_store {
    padding: 83px 20px 71px;
  }
  .store .group_store article {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }
  .store .group_store article a {
    display: inline-block;
  }
  .store .group_store article a figure {
    overflow: hidden;
  }
  .store .group_store article a figure img {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .store .group_store article a h4 {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #000;
    font-family: Arial;
    margin-top: 29px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  .store .group_store article a:hover figure img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .store .btn_more {
    float: right;
  }
  .store .btn_more:after {
    background: url("../common/images/arrow_gray_pc.png") no-repeat;
  }
  .company {
    max-width: 700px;
    padding: 186px 0 83px;
    margin: 0 auto;
    overflow: hidden;
  }
  .company .title_company {
    text-align: center;
    margin: -13px 0px 64px 15px;
  }
  .company .info_company {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 21px;
  }
  .company .info_company dt {
    display: inline-block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 110px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 110px;
            flex: 0 0 110px;
  }
  .company .info_company dd a {
    pointer-events: none;
  }
  .company .btn_more {
    float: right;
    margin-top: 12px;
  }
  .map {
    width: 100%;
    height: 381px;
    display: block;
  }
  .top_footer .social_footer {
    padding: 85px 54.5px;
  }
  .top_footer .social_footer li {
    padding: 0 21.5px;
    text-align: center;
  }
  .top_footer .social_footer li a {
    display: inline-block;
    padding: 28px 0;
    width: 296px;
    border: 1px solid #7d7d7d;
    position: relative;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
  .top_footer .social_footer li a figure {
    height: 19px;
    overflow: hidden;
  }
  .top_footer .social_footer li a figure img {
    margin-left: 50px;
  }
  .top_footer .social_footer li a:hover {
    background: #000;
    opacity: 1;
  }
  .top_footer .social_footer li a:hover img {
    opacity: 1;
    margin-top: -19px;
  }
  .top_footer .social_footer li a:before {
    content: '';
    position: absolute;
    margin: auto;
    left: 45px;
    top: 0;
    bottom: 0;
  }
  .top_footer .social_footer li .twitter img {
    margin-left: 62px;
  }
  .top_footer .social_footer li .twitter:before {
    width: 23px;
    height: 18px;
    background: url("../images/icon_twitter.png") no-repeat;
  }
  .top_footer .social_footer li .twitter:hover:before {
    background: url("../images/icon_twitter_hover.png") no-repeat;
  }
  .top_footer .social_footer li .facebook:before {
    width: 9px;
    height: 18px;
    background: url("../images/icon_face.png") no-repeat;
  }
  .top_footer .social_footer li .facebook:hover:before {
    background: url("../images/icon_face_hover.png") no-repeat;
  }
  .top_footer .social_footer li .instagram:before {
    width: 18px;
    height: 18px;
    background: url("../images/icon_insta.png") no-repeat;
  }
  .top_footer .social_footer li .instagram:hover:before {
    background: url("../images/icon_insta_hover.png") no-repeat;
  }
  .top_footer .bottom_footer {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 65px 0 17px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .top_footer .bottom_footer .btn_privacy {
    padding-bottom: 8px;
    position: relative;
  }
  .top_footer .bottom_footer .btn_privacy:after {
    content: '';
    width: 12px;
    height: 11px;
    background: url("../common/images/arrow_pc.png") no-repeat;
    position: absolute;
    right: -2px;
    top: 6px;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
  }
  .top_footer .bottom_footer .btn_privacy:hover:after {
    -webkit-transform: translateX(2px);
       -moz-transform: translateX(2px);
        -ms-transform: translateX(2px);
            transform: translateX(2px);
  }
  .top_footer .bottom_footer .top {
    margin-right: -11px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 5.72917vw 1.95313vw 13.02083vw;
  }
  .about figure {
    text-align: center;
    margin-bottom: 1.95313vw;
  }
  .about figure img {
    width: 25.91146vw;
  }
  .about p {
    padding: 6.51042vw 0.39063vw 8.46354vw;
    position: relative;
  }
  .about p img {
    width: 93.09896vw;
  }
  .about p:after {
    content: '';
    width: 13.15104vw;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .about small {
    padding: 6.11979vw 0;
    display: block;
    position: relative;
  }
  .about small img {
    width: 95.18229vw;
  }
  .about small:after {
    content: '';
    width: 13.15104vw;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .banner img {
    width: 100%;
  }
  .info {
    padding: 16.14583vw 0 5.20833vw;
  }
  .info .title_info {
    text-align: center;
    padding-bottom: 6.38021vw;
    margin-bottom: 5.20833vw;
    position: relative;
  }
  .info .title_info img {
    width: 63.41146vw;
  }
  .info .title_info:after {
    content: '';
    width: 16.92708vw;
    height: 1px;
    background: #eaa8ae;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .info .filter {
    padding: 1.30208vw 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .info .filter li {
    margin-right: 1.30208vw;
    margin-bottom: 2.34375vw;
    text-align: center;
    border: 1px solid #000;
    width: 32.333%;
  }
  .info .filter li:nth-child(3) {
    margin-right: 0;
  }
  .info .filter li a {
    display: block;
    padding: 2.08333vw 0;
    font-size: 2rem;
  }
  .info .group_info {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 2.60417vw;
  }
  .info .group_info .box_info {
    width: 50%;
    margin: 0 0 5.59896vw;
  }
  .info .group_info .box_info a small {
    font-size: 2rem;
    text-align: right;
    display: block;
  }
  .info .group_info .box_info a figure {
    margin: 1.04167vw 0 2.73438vw;
    position: relative;
  }
  .info .group_info .box_info a figure img {
    width: 43.61979vw;
  }
  .info .group_info .box_info a figure:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
  }
  .info .group_info .box_info a figure .box_hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 16.14583vw;
    height: 16.14583vw;
    color: #fff;
    border: 1px solid #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.90625vw 2.60417vw;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
  }
  .info .group_info .box_info a figure .box_hover time {
    display: block;
    font-family: Arial;
    font-size: 1.1rem;
    font-style: italic;
    padding-bottom: 1.30208vw;
    margin-bottom: 0.26042vw;
    border-bottom: 1px solid #fff;
    -webkit-transform: translate(-200px, 200px);
       -moz-transform: translate(-200px, 200px);
        -ms-transform: translate(-200px, 200px);
            transform: translate(-200px, 200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .info .group_info .box_info a figure .box_hover em {
    font-family: Times New Roman;
    font-size: 1.9rem;
    -webkit-transform: translate(-200px, 200px);
       -moz-transform: translate(-200px, 200px);
        -ms-transform: translate(-200px, 200px);
            transform: translate(-200px, 200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .info .group_info .box_info a:hover {
    opacity: 1;
  }
  .info .group_info .box_info a:hover figure img {
    opacity: 1;
  }
  .info .group_info .box_info a:hover figure:before {
    opacity: 1;
  }
  .info .group_info .box_info a:hover figure .box_hover {
    opacity: 1;
  }
  .info .group_info .box_info a:hover figure .box_hover time {
    -webkit-transform: translate(0px, 0px);
       -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition-delay: 0.2s;
       -moz-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .info .group_info .box_info a:hover figure .box_hover em {
    -webkit-transform: translate(0px, 0px);
       -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition-delay: 0.3s;
       -moz-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .info .group_info .box_info:first-child {
    padding-right: 4.42708vw;
  }
  .info .group_info .box_info:first-child h4 img {
    width: 41.14583vw;
  }
  .info .group_info .box_info:nth-child(3n+4) {
    padding-right: 4.42708vw;
  }
  .info .group_info .box_info:nth-child(3n+4) h4 img {
    width: 41.14583vw;
  }
  .info .group_info .box_info:nth-child(3n+2) {
    padding-left: 4.42708vw;
  }
  .info .group_info .box_info:nth-child(3n+2) h4 img {
    width: 42.05729vw;
  }
  .info .group_info .box_info:nth-child(3n+3) {
    display: none;
  }
  .info .pagination {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 2.34375vw;
    margin-top: 5.20833vw;
  }
  .info .pagination li a {
    display: block;
    font-family: Arial;
    font-size: 3rem;
    font-weight: normal;
    color: #a7a7a7;
    margin: 0 4.29688vw 0 8.33333vw;
    padding-bottom: 2.34375vw;
    border-bottom: 2px solid transparent;
  }
  .info .pagination li a:hover {
    color: #000;
    border-bottom: 1px solid #000;
  }
  .info .pagination li .active {
    color: #000;
    border-bottom: 1px solid #000;
    width: 2.21354vw;
  }
  .info .pagination li .next:hover {
    color: #000;
    border-bottom: 1px solid transparent;
  }
  .info .pagination li .next img {
    vertical-align: initial;
    width: 1.5625vw;
  }
  .develop {
    padding: 16.27604vw 0 26.5625vw;
    text-align: center;
  }
  .develop .topSp {
    font-size: 2.1rem;
    letter-spacing: 4.5px;
  }
  .develop .title_developSp {
    text-align: center;
    padding: 2.73438vw 0 5.98958vw;
    margin-bottom: 2.47396vw;
    position: relative;
  }
  .develop .title_developSp img {
    width: 95.44271vw;
  }
  .develop .title_developSp:after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
  }
  .develop .develop_inner {
    display: block;
  }
  .develop .develop_inner figure img {
    width: 67.70833vw;
  }
  .develop .develop_inner .content_develop small {
    display: none;
  }
  .develop .develop_inner .content_develop .title_develop {
    display: none;
  }
  .develop .develop_inner .content_develop p {
    padding: 4.6875vw 0 5.59896vw;
  }
  .develop .develop_inner .content_develop p img {
    width: 95.3125vw;
  }
  .develop .develop_inner .content_develop .btn_develop {
    margin-bottom: 3.90625vw;
  }
  .develop .develop_inner .content_develop .btn_develop li {
    width: 30.46875vw;
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    margin-right: 2.34375vw;
  }
  .develop .develop_inner .content_develop .btn_develop li:first-child img {
    width: 10.54688vw;
  }
  .develop .develop_inner .content_develop .btn_develop li:nth-child(2) img {
    width: 14.71354vw;
  }
  .develop .develop_inner .content_develop .btn_develop li:last-child {
    margin-right: 0;
  }
  .develop .develop_inner .content_develop .btn_develop li:last-child img {
    width: 10.67708vw;
  }
  .develop .develop_inner .content_develop .btn_develop li a {
    display: block;
    padding: 2.73438vw 0;
    line-height: 2rem;
  }
  .develop .develop_inner .content_develop .btn_more {
    float: right;
    padding: 6.90104vw 0 0;
  }
  .develop .develop_inner .content_develop .btn_more img {
    width: 26.04167vw;
  }
  .promotion {
    padding: 3.38542vw 0 8.85417vw;
    background: #f7f7f7;
    text-align: center;
    overflow: hidden;
  }
  .promotion .promotion_inner {
    display: block;
  }
  .promotion .promotion_inner figure img {
    margin-right: 0.65104vw;
    width: 85.15625vw;
  }
  .promotion .promotion_inner .content_promotion {
    text-align: center;
  }
  .promotion .promotion_inner .content_promotion small {
    font-size: 2.1rem;
    display: block;
    padding: 6.25vw 0 2.86458vw;
    letter-spacing: 3px;
  }
  .promotion .promotion_inner .content_promotion .title_promotion {
    padding-bottom: 5.85938vw;
    margin-bottom: 5.85938vw;
    position: relative;
  }
  .promotion .promotion_inner .content_promotion .title_promotion:after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
  }
  .promotion .promotion_inner .content_promotion .title_promotion img {
    margin-right: 3.25521vw;
    width: 46.48438vw;
  }
  .promotion .promotion_inner .content_promotion p {
    padding: 4.94792vw 0 4.03646vw;
  }
  .promotion .promotion_inner .content_promotion p img {
    width: 94.66146vw;
    margin-right: 0.65104vw;
  }
  .promotion .promotion_inner .content_promotion .btn_promotion {
    margin: 0 -0.65104vw 8.07292vw;
  }
  .promotion .promotion_inner .content_promotion .btn_promotion li {
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    width: 48%;
  }
  .promotion .promotion_inner .content_promotion .btn_promotion li a {
    display: block;
    padding: 2.79948vw 0;
    line-height: 1.3rem;
  }
  .promotion .promotion_inner .content_promotion .btn_promotion li a img {
    width: 22.65625vw;
  }
  .promotion .promotion_inner .content_promotion .btn_promotion li:first-child {
    margin-right: 3.125vw;
  }
  .promotion .promotion_inner .content_promotion .btn_promotion li:first-child a img {
    width: 25vw;
  }
  .promotion .promotion_inner .content_promotion .btn_more {
    float: right;
  }
  .promotion .promotion_inner .content_promotion .btn_more img {
    width: 26.04167vw;
  }
  .ecommer {
    padding: 10.15625vw 0 4.55729vw;
    text-align: center;
    overflow: hidden;
  }
  .ecommer small {
    letter-spacing: 4.5px;
  }
  .ecommer figure img {
    width: 78.25521vw;
    padding: 5.33854vw 0 0.26042vw;
    margin-right: 0.65104vw;
  }
  .ecommer .title_ecommer {
    padding: 2.86458vw 0 5.98958vw;
    border-bottom: 1px solid #000;
  }
  .ecommer .title_ecommer img {
    width: 49.86979vw;
  }
  .ecommer .ecommer-inner {
    display: block;
  }
  .ecommer .ecommer-inner .content_ecommer .stitle_ecommer {
    padding: 5.72917vw 0 4.03646vw;
    text-align: left;
  }
  .ecommer .ecommer-inner .content_ecommer .stitle_ecommer img {
    width: 94.40104vw;
  }
  .ecommer .ecommer-inner .content_ecommer .btn_ecommer {
    border: 1px solid #000;
    display: block;
    margin: 3.90625vw 0 3.64583vw;
    padding: 2.73438vw 0;
  }
  .ecommer .ecommer-inner .content_ecommer .btn_ecommer img {
    width: 20.57292vw;
  }
  .ecommer .ecommer-inner .content_ecommer .sponsor {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ecommer .ecommer-inner .content_ecommer .sponsor li a {
    padding: 0 1.43229vw;
    display: block;
  }
  .ecommer .ecommer-inner .content_ecommer .sponsor li:first-child img {
    width: 15.625vw;
  }
  .ecommer .ecommer-inner .content_ecommer .sponsor li:nth-child(2) img {
    width: 13.80208vw;
  }
  .ecommer .ecommer-inner .content_ecommer .sponsor li:nth-child(3) img {
    width: 18.09896vw;
  }
  .ecommer .ecommer-inner .content_ecommer .sponsor li:nth-child(4) img {
    width: 10.15625vw;
  }
  .ecommer .ecommer-inner .content_ecommer .sponsor li:last-child img {
    width: 25.39063vw;
  }
  .ecommer .ecommer-inner .content_ecommer .nav_ecommer {
    width: 88.28125vw;
    margin: 0 auto;
  }
  .ecommer .ecommer-inner .content_ecommer .nav_ecommer li {
    position: relative;
  }
  .ecommer .ecommer-inner .content_ecommer .nav_ecommer li a {
    padding: 0 2.60417vw 0 1.82292vw;
    display: block;
  }
  .ecommer .ecommer-inner .content_ecommer .nav_ecommer li:after {
    content: '/';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2.1rem;
    line-height: 2.1rem;
  }
  .ecommer .ecommer-inner .content_ecommer .nav_ecommer li:first-child img {
    width: 11.58854vw;
  }
  .ecommer .ecommer-inner .content_ecommer .nav_ecommer li:nth-child(2) img {
    width: 11.58854vw;
  }
  .ecommer .ecommer-inner .content_ecommer .nav_ecommer li:nth-child(3) img {
    width: 11.71875vw;
  }
  .ecommer .ecommer-inner .content_ecommer .nav_ecommer li:nth-child(4) img {
    width: 14.0625vw;
  }
  .ecommer .ecommer-inner .content_ecommer .nav_ecommer li:last-child img {
    width: 16.66667vw;
  }
  .ecommer .ecommer-inner .content_ecommer .nav_ecommer li:last-child:after {
    display: none;
  }
  .ecommer .ecommer-inner .content_ecommer .btn_more {
    margin-top: 8.85417vw;
    float: right;
  }
  .ecommer .ecommer-inner .content_ecommer .btn_more img {
    width: 26.04167vw;
  }
  .store {
    text-align: center;
    padding: 13.54167vw 0 8.59375vw;
    overflow: hidden;
    background: #f7f7f7;
  }
  .store small {
    letter-spacing: 4.5px;
  }
  .store .title_store {
    margin: 2.99479vw 0 0.39063vw;
    padding-bottom: 5.98958vw;
    position: relative;
  }
  .store .title_store img {
    width: 70.96354vw;
    margin-right: 1.95313vw;
  }
  .store .title_store:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #636363;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    -moz-box-shadow: 0 1px 0 0 #949494;
         box-shadow: 0 1px 0 0 #949494;
  }
  .store .group_store {
    padding: 10.80729vw 2.60417vw 6.11979vw;
    display: block;
  }
  .store .group_store .box_store {
    margin-bottom: 6.90104vw;
  }
  .store .group_store .box_store a {
    display: inline-block;
  }
  .store .group_store .box_store a figure {
    overflow: hidden;
  }
  .store .group_store .box_store a figure img {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    width: 57.29167vw;
  }
  .store .group_store .box_store a h4 {
    text-align: left;
    font-size: 2.3rem;
    line-height: 2.3rem;
    color: #000;
    font-family: Arial;
    margin-top: 2.21354vw;
    letter-spacing: 1px;
  }
  .store .group_store .box_store a:hover figure img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .store p {
    text-align: left;
    padding-left: 5.59896vw;
  }
  .store p img {
    width: 64.84375vw;
  }
  .store .btn_more {
    float: right;
    margin-top: 12.10938vw;
  }
  .store .btn_more img {
    width: 26.04167vw;
  }
  .company {
    padding: 9.63542vw 0 7.03125vw;
    margin: 0 auto;
    overflow: hidden;
  }
  .company figure {
    text-align: center;
  }
  .company figure img {
    width: 91.01563vw;
  }
  .company .title_company {
    text-align: center;
    margin: -2.86458vw 0 8.33333vw;
  }
  .company .title_company img {
    width: 51.69271vw;
  }
  .company .info_company {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.34375vw;
    margin-left: 1.30208vw;
  }
  .company .info_company dt {
    display: inline-block;
    width: 21.09375vw;
  }
  .company .info_company:nth-child(3) dt img {
    width: 5.33854vw;
  }
  .company .info_company:nth-child(3) dd img {
    width: 19.40104vw;
  }
  .company .info_company:nth-child(4) dt img {
    width: 5.59896vw;
  }
  .company .info_company:nth-child(4) dd img {
    width: 46.22396vw;
  }
  .company .info_company:nth-child(5) dt img {
    width: 14.71354vw;
  }
  .company .info_company:nth-child(5) dd img {
    width: 14.97396vw;
  }
  .company .info_company:nth-child(6) dt img {
    width: 5.72917vw;
  }
  .company .info_company:nth-child(6) dd img {
    width: 29.94792vw;
  }
  .company .info_company:nth-child(7) dt img {
    width: 5.98958vw;
  }
  .company .info_company:nth-child(7) dd img {
    width: 20.57292vw;
  }
  .company .btn_more {
    float: right;
    margin-top: 4.6875vw;
  }
  .company .btn_more img {
    width: 26.04167vw;
  }
  .map {
    width: 100%;
    height: 40.88542vw;
    display: block;
  }
  .top_footer .social_footer {
    padding: 6.64063vw 0 0;
    display: block;
  }
  .top_footer .social_footer li {
    text-align: center;
    width: 100%;
  }
  .top_footer .social_footer li a {
    display: block;
    padding: 7.55208vw 0;
    margin-bottom: 2.60417vw;
    width: 100%;
    border: 1px solid #7d7d7d;
    position: relative;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
  .top_footer .social_footer li a figure {
    overflow: hidden;
    line-height: 4.8rem;
  }
  .top_footer .social_footer li a:before {
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
  }
  .top_footer .social_footer li .twitter img {
    width: 22.39583vw;
    margin-right: 4.55729vw;
  }
  .top_footer .social_footer li .twitter:before {
    width: 7.42188vw;
    height: 5.85938vw;
    left: 7.29167vw;
    background: url("../images/icon_twitter_sp.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .top_footer .social_footer li .facebook img {
    width: 30.46875vw;
    margin-left: 2.60417vw;
  }
  .top_footer .social_footer li .facebook:before {
    width: 2.86458vw;
    height: 5.85938vw;
    left: 9.24479vw;
    background: url("../images/icon_face_sp.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .top_footer .social_footer li .instagram img {
    width: 33.20313vw;
    margin-left: 6.11979vw;
    margin-top: 0.52083vw;
  }
  .top_footer .social_footer li .instagram:before {
    width: 5.85938vw;
    height: 5.85938vw;
    left: 8.85417vw;
    background: url("../images/icon_insta_sp.png") no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
  .top_footer .bottom_footer {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 8.85417vw 0 1.95313vw;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .top_footer .bottom_footer .btn_privacy {
    padding-bottom: 3.125vw;
  }
  .top_footer .bottom_footer .btn_privacy img {
    width: 39.0625vw;
  }
  .top_footer .bottom_footer .top img {
    width: 16.14583vw;
  }
}
