@charset "utf-8";
// ===================================================================
//	common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}
.row {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
}
main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333;
}
.section{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #333;
}
.header{
  z-index: 9;
  .h_in{
    .logo{
      margin: 0;
      position: fixed;
      top: 40px;
      left: 40px;
      z-index: 9;
      a{
        display: block;
        transition: opacity .3s ease-out;
        img{
          width: 117px;
          height: auto;
        }
        &:hover{
          opacity: 0.7;
        }
      }
    }
    .logo_r{
      position: fixed;
      top: 40px;
      right: 40px;
      z-index: 9;
      margin: 0;
      width: 70px;
      height: 40px;
      background: url('../images/logo_corp.png') no-repeat;
      background-size: contain;
      display: block;
      transition: background .3s ease-out, opacity .3s ease-out;
      &.black{
        background: url('../images/logo_corp_black.png') no-repeat;
        background-size: contain;
      }
      &:hover{
        opacity: 0.7;
      }
    }
  }
}
.aside{
  position: fixed;
  width: 50px;
  height: 100%;
  z-index: 8;
  top: 0;
  left: 40px;
  &_menu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    ul{
      li{
        height: 36px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        transition: all .3s ease-out;
        +li{
          margin-top: 4px;
        }
        &:before{
          content: '';
          width: 4px;
          height: 100%;
          background: rgba(#fff, .4);
          display: block;
          transition: all .3s ease-out;
          position: absolute;
          left: 0;
          top: 0;
          transform-origin: center center;
          transform: scale(.25,1) translateZ(0);
        }
        span{
          font-size: 1.4rem;
          line-height: 1;
          width: 100%;
          height: 100%;
          font-family: $ropa;
          color: #77797a;
          text-decoration: none;
          transition: all .4s ease-out;
          position: relative;
          display: flex;
          align-items: center;
          opacity: 0;
          padding-left: 15px;
          transform: translateX(-100%);
          &:before{
            content: '';
            width: 0;
            height: 1px;
            background: #e60000;
            position: absolute;
            left: 4px;
            top: 50%;
            transition: all .3s ease-out;
            display: block;
          }
        }
        &:hover{
          &:before{
            background: #e60000;
            transform: scale(1);
          }
          span{
            transform: translateX(0);
            color: #e60000;
            font-weight: bold;
            opacity: 1;
            &:before{
              background: #e60000;
              width: 8px;
            }
          }
        }
        &.active{
          &:before{
            background: #e60000;
            transform: scale(1);
          }
          span{
            transform: translateX(0);
            color: #e60000;
            font-weight: bold;
            opacity: 1;
            &:before{
              background: #e60000;
              width: 8px;
            }
          }
        }
      }
    }
  }
  &_social{
    position: absolute;
    bottom: 40px;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    ul{
      li{
        +li{
          margin-top: 13px;
        }
        a{
          display: block;
          .ic{
            display: block;
            transition: all .3s ease-out;
            &_facebook{
              width: 16px;
              height: 16px;
              background: url('../images/ic_facebook.png') top no-repeat;
              background-size: cover;
              display: block;
            }
            &_twitter{
              width: 17px;
              height: 14px;
              background: url('../images/ic_twitter.png') top no-repeat;
              background-size: cover;
              display: block;
            }
          }
          &:hover{
            .ic{
              &_facebook{
                background: url('../images/ic_facebook.png') bottom no-repeat;
                background-size: cover;
              }
              &_twitter{
                background: url('../images/ic_twitter.png') bottom no-repeat;
                background-size: cover;
              }
            }
          }
        }
      }
    }
  }
}
.btn{
  width: pc(220);
  height: pc(40);
  box-sizing: border-box;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #fff;
    font-family: $ropa;
    font-size: pc(14);
    line-height: 1;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    &:before{
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    &:after{
      content: '';
      width: pc(25);
      height: pc(8);
      position: absolute;
      top: 45%;
      right: pc(8);
      transform: translateY(-50%);
      background: url('/next/common/images/ic_arrow.png') no-repeat;
      background-size: contain;
    }
    &:hover{
      color: #e60000;
      &:before{
        transform: scaleX(1);
      }
      &:after{
        background: url('/next/common/images/ic_arrow_r.png') no-repeat;
        background-size: contain;
      }
    }
  }
}
.footer{
  background: #000;
  padding: 0 40px;
  height: 32px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  transform: translateY(32px);
  transition: transform .3s ease-out 1s;
  .f_in{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
      display: flex;
      li{
        +li{
          margin-left: 30px;
        }
        a{
          display: block;
          color: rgba(#fff, .6);
          text-decoration: none;
          font-size: 1.1rem;
          line-height: 1;
          transition: color .3s ease-out;
          small{
            font-size: .9rem;
            padding-left: 5px;
          }
          &:hover{
            color: #e60000;
          }
        }
      }
    }
    p{
      color: rgba(#fff, .6);
      font-size: 1.1rem;
      line-height: 1;
    }
  }
  &.open{
    transform: translateY(0);
  }
}
.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6e6e6;
  opacity: 1;
  transition: opacity .6s ease-out;
  transform: translateZ(0);
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e60000;
    transform: scaleX(0);
    transform-origin: 50%;
    transition: transform .6s ease-out;
  }
  img{
    width: 306px;
    height: auto;
    transition: opacity .6s ease-out;
    opacity: 1;
  }
  &.active{
    opacity: 1;
    &:before {
      transform: scaleX(1);
    }
    &.end{
      background: transparent;
      &:before {
        transform: scaleX(0);
      }
      img{
        opacity: 0;
      }
      &.zindex{
        z-index: 0;
      }
    }
  }
}