@charset "utf-8";
// ===================================================================
//	common_sp.css
// ===================================================================
.show_pc {
  display: none !important;
}
.row {
  padding: 0 vw(30);
}
.main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.section{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header{
  .h_in{
    .logo{
      position: fixed;
      width: 100%;
      top: vw(30);
      left: vw(30);
      z-index: 9;
      width: vw(102);
      height: auto;
      margin: 0;
      font-size: 0;
      a{
        display: block;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    .logo_r{
      position: fixed;
      width: 100%;
      right: vw(30);
      top: vw(30);
      z-index: 9;
      margin: 0;
      width: vw(56);
      height: vw(32);
      background: url('../images/logo_corp.png') no-repeat;
      background-size: contain;
      display: block;
      transition: background .3s ease-out;
    }
  }
}
.aside{
  position: fixed;
  width: vw(50);
  height: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  &_menu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    ul{
      li{
        height: vw(36);
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        transition: all .3s ease-out;
        +li{
          margin-top: vw(4);
        }
        &:before{
          content: '';
          width: vw(4);
          height: 100%;
          background: rgba(#fff, .4);
          display: block;
          transition: all .3s ease-out;
          position: absolute;
          left: 0;
          top: 0;
          transform-origin: center center;
        }
        span{
          font-size: vw(14);
          line-height: 1;
          width: 100%;
          height: 100%;
          font-family: $ropa;
          color: #77797a;
          text-decoration: none;
          transition: all .4s ease-out;
          position: relative;
          display: flex;
          align-items: center;
          opacity: 0;
          padding-left: vw(15);
          transform: translateX(-100%);
          &:before{
            content: '';
            width: 0;
            height: 1px;
            background: #e60000;
            position: absolute;
            left: vw(4);
            top: 50%;
            transition: all .3s ease-out;
            display: block;
          }
        }
        &.active{
          &:before{
            background: #e60000;
            transform: scale(1);
          }
          span{
            transform: translateX(0);
            color: #e60000;
            font-weight: bold;
            opacity: 1;
            &:before{
              background: #e60000;
              width: 8px;
            }
          }
        }
      }
    }
  }
  &_social{
    position: absolute;
    bottom: vw(40);
    left: vw(30);
    display: block;
    width: auto;
    height: vw(66);
    display: flex;
    align-items: center;
    span{
      width: vw(66);
      height: vw(66);
      border: 1px solid #fff;
      background: transparent;
      display: block;
      box-sizing: border-box;
      &:before{
        content: 'SHARE';
        display: block;
        color: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: vw(14);
        line-height: 1;
        font-family: $ropa;
      }
      &.open{
        border: 1px solid #e60000;
        &:before{
          content: 'CLOSE';
          color: #e60000;
        }
      }
    }
    ul{
      display: flex;
      align-items: center;
      overflow: hidden;
      position: relative;
      left: vw(-30);
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-out;
      li{
        margin-left: vw(30);
        a{
          display: block;
          .ic{
            display: block;
            transition: all .3s ease-out;
            &_facebook{
              width: vw(48);
              height: vw(48);
              background: url('../images/ic_fb_mem.png') top no-repeat;
              background-size: contain;
              display: block;
            }
            &_twitter{
              width: vw(51);
              height: vw(42);
              background: url('../images/ic_tw_mem.png') top no-repeat;
              background-size: contain;
              display: block;
            }
          }
        }
      }
      &.open{
        opacity: 1;
        visibility: visible;
        left: 0;
      }
    }
  }
}
.btn{
  width: vw(384);
  height: vw(64);
  box-sizing: border-box;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #fff;
    font-family: $ropa;
    font-size: vw(16);
    line-height: 1;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    &:before{
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    &:after{
      content: '';
      width: vw(25);
      height: vw(8);
      position: absolute;
      top: 45%;
      right: vw(8);
      transform: translateY(-50%);
      background: url('/next/common/images/ic_arrow.png') no-repeat;
      background-size: contain;
    }
    &:hover{
      color: #e60000;
      &:before{
        transform: scaleX(1);
      }
      &:after{
        background: url('/next/common/images/ic_arrow_r.png') no-repeat;
        background-size: contain;
      }
    }
  }
}
.footer{
  background: #000;
  padding: 0 vw(30);
  max-height: 0;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  transform: translateY(#{vw(64)});
  transition: transform .3s ease-out 1s;
  .f_in{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    ul{
      display: flex;
      margin-bottom: vw(10);
      li{
        +li{
          margin-left: vw(30);
        }
        a{
          display: block;
          color: #fff;
          text-decoration: none;
          font-size: vw(16);
          line-height: 1;
          small{
            display: none;
          }
        }
      }
    }
    p{
      color: #fff;
      font-size: vw(12);
      line-height: 1;
    }
  }
  &.open{
    max-height: vw(64);
    height: 100%;
    transform: translateY(0);
    display: block;
  }
}
.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6e6e6;
  opacity: 1;
  transition: opacity 1s ease-out;
  transform: translateZ(0);
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e60000;
    transform: scaleX(0);
    transform-origin: 50%;
    transition: transform 1s ease-out;
  }
  img{
    width: vw(306);
    height: auto;
    transition: opacity 1s ease-out;
    opacity: 1;
  }
  &.active{
    opacity: 1;
    &:before {
      transform: scaleX(1);
    }
    &.end{
      background: transparent;
      &:before {
        transform: scaleX(0);
      }
      img{
        opacity: 0;
      }
      &.zindex{
        z-index: 0;
      }
    }
  }
}