@charset "utf-8";
// ===================================================================
//  common.css
// ===================================================================

@import "_mixin/mixin";

//----------------------------------------------------
//  共通
//----------------------------------------------------
html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #000000;
  // font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, Tahoma, Verdana, Arial, Verdana, sans-serif;
  font-family: YuGothic,Yu Gothic Medium,Yu Gothic,'メイリオ',sans-serif;
  font-size: rem(13);
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  color: #000000;
  text-decoration: underline;
/*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

a:hover {
  text-decoration: none;
}
a:hover,
a:hover img,
.img_hover:hover {
/*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

img {
  vertical-align: bottom;
}
.img_ck {
  font-size: rem(1);
  line-height: 0;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}

div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

//---------------------------------------------------------------------------
//CMS用
.file {
  border-top: 1px dotted #cccccc;
  margin: 15px 0;
  padding: 10px 0 0;
  text-align: left;

  .pdf {
    background: url(../images/cms/pdf.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
  .ppt {
    background: url(../images/cms/ppt.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
  .xls,
  .xlsx {
    background: url(../images/cms/xls.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
  .doc,
  .docx {
    background: url(../images/cms/doc.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
}

.top-right {
  float: right;
  margin: 0px 0px 30px 30px;
}
.top-left {
  float: left;
  margin: 0px 30px 30px 0px;
}
.top-center {
  margin: 0px 0px 30px 0px;
  text-align:center;
}
.bottom-right {
  float: right;
  margin: 30px 0px 0px 30px;
}
.bottom-left {
  float: left;
  margin: 30px 30px 0px 0px;
}
.bottom-center {
  margin: 30px 0px 0px 0px;
  text-align:center;
}
.entry-container b {
  font-weight: bold;
}
.entry-container i {
  font-style: italic;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

//---------------------------------------------------------------------------
@include min-screen() {
  @import "./_common_pc.scss";
}

@include max-screen() {
  @import "./_common_sp.scss";
}

// animation
@keyframes scrollDown {
  0% {
    transform: translateX(-50%) translateY(-15px);
  }
  50%{
    transform: translateX(-50%) translateY(0);
  }
  100%{
    transform: translateX(-50%) translateY(-15px);
  }
}

// Effect
.section {
  .openSide{
    position: relative;
    transform: translateZ(0);
    transition: transform 1s ease-out .5s, opacity 1s ease-out .5s;
    opacity: 0;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      transform: scaleX(1);
      transform-origin: 50%;
      transition: transform 1s ease-out 1s;
    }
  }
  .slideUp{
    transform: translateY(100px);
    opacity: 0;
  }
  .scaleIn{
    opacity: 0;
    transform: translateY(10%) scale(1.2);
    transition: transform 4s ease-out, opacity 4s ease-out;
  }
  .openRight{
    position: relative;
    transform: translateZ(0);
    transition: transform 1s ease-out .5s;
    &:after {
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 1s ease-out .5s;
      z-index: -2;
    }
  }
  .openLeft{
    position: relative;
    transform: translateZ(0);
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
    background: #fff;
  }
  &.effect{
    .openSide{
      opacity: 1;
      &:before {
        transform: scaleX(0);
      }
    }
    .slideUp{
      transform: translateY(0);
      opacity: 1;
    }
    .scaleIn{
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    .openRight{
      &:after {
        transform: scaleX(1);
      }
    }
    .openLeft{
      max-width: 100%;
      visibility: visible;
    }
  }
}
.delay_03 {
  transition-property: transform, opacity, max-width, visibility, visibility;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-delay: 0.3s;
}
.delay_06 {
  transition-property: transform, opacity, max-width, visibility;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-delay: 0.6s;
}
.delay_09 {
  transition-property: transform, opacity, max-width, visibility;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-delay: 0.9s;
}
.delay_12 {
  transition-property: transform, opacity, max-width, visibility;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-delay: 1.2s;
}
.delay_15 {
  transition-property: transform, opacity, max-width, visibility;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-delay: 1.5s;
}
.delay_17 {
  transition-property: transform, opacity, max-width, visibility;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-delay: 1.7s;
}
.delay_19 {
  transition-property: transform, opacity, max-width, visibility;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-delay: 1.9s;
}
.delay_21 {
  transition-property: transform, opacity, max-width, visibility;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-delay: 2.1s;
}

.delay_06_2 {
  transition-property: transform, opacity, max-width, visibility;
  transition-timing-function: ease-out;
  transition-duration: 2s;
  transition-delay: 0.6s;
}
.delay_09_2 {
  transition-property: transform, opacity, max-width, visibility;
  transition-timing-function: ease-out;
  transition-duration: 2s;
  transition-delay: 0.9s;
}
.delay_12_2 {
  transition-property: transform, opacity, max-width, visibility;
  transition-timing-function: ease-out;
  transition-duration: 2s;
  transition-delay: 1.2s;
}