/* http://material.colorion.co/palette/3320 */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
html {
  font-size: 10px;
}
body {
  font-family: 'Patrick Hand', cursive;
  color:#231f20;
  text-align: center;
  margin: 0;
  background: #fde9f9;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align:center;
  font-size: 4rem;
  color:#231f20;
  text-shadow: 0 0 13px rgba(255,137,255, 1);
  margin-bottom: 1rem;
  margin-top: 0;
}
figure img {
  width: 100%;
}
#clockdiv {
  width: 1000px;
  width: 100%;
  top:50%;
  left:50%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}
.inner {
  display:inline-block;
  padding: 13px 20px 27px;
  width: 13rem;
  margin: 0 3px;
  box-sizing: border-box;
  font-weight: bold;
}
.inner .smalltext {
  font-size: 2rem;
  text-shadow: 0 0 13px rgba(255,137,255, 1);
}

.days {
  text-shadow: 0 0 13px rgba(255,137,255, 1);
}
.hours {
  text-shadow: 0 0 13px rgba(255,137,255, 1);
}
.minutes {
  text-shadow: 0 0 13px rgba(255,137,255, 1);
}
.seconds {
  text-shadow: 0 0 13px rgba(255,137,255, 0.6);
}

@media screen and (max-width: 768px) {
  #clockdiv {
    font-size: 4rem;
  }
  .inner {
    width: 10rem;
  }
  .inner .smalltext {
    font-size: 1.5rem;
    text-shadow: 0 0 13px rgba(255,137,255, 1);
  }
}
