@charset "utf-8";
// ===================================================================
//	common_pc.css
// ===================================================================
.show_sp {
	display: none !important;
}

.container {
	min-width: 1130px;
	overflow: hidden;
	
}

.row {
	max-width: 1130px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.btn_more{
	display: block;
  position: relative;
  &:after{
    content: '';
    width: 12px;
    height: 11px;
    background: url('../images/arrow_pc.png') no-repeat;
    position: absolute;
    right: 0;
    top: 1px;
    transform: translateZ(0);
    transition: all .5s ease;
  }
  &:hover{
  	&:after{
	    transform: translateX(2px);
	  }
  }
}
.sp{
	display: none;
}
.pc{
	display: block;
}
small{
  font-size: 1.3rem;
}

.animateOff{
	transform: translate3d(130px, 0, 0);
	transition: all .5s ease-out;
	opacity: 0;
}

.animateOn {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}


@import "./_header_pc.scss";
@import "./_footer_pc.scss";
@import "./_pagination_pc.scss";
@import "./_ttl_pc.scss";
@import "./_btn_pc.scss";