.footer{
	background: #000;
	padding: vw(23) 0 vw(28);
	.copyright{
		text-align: center;
		color: #fff;
		font-size: 2rem;
		font-family: Arial, sans-serif;
		font-weight: 500;
		letter-spacing: 2px;
	}
}