/** ===================
Header
======================**/

.header{
	width: 100%;
	min-width: 1000px;
	background: #fff;
	z-index: 99;
	box-shadow: 0 0 2px 0 #eee;
	.main_header{
		align-items: center;
		padding: 13px 26px 20px;
		justify-content: space-between;
		align-items: center;
		min-width: 1130px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: #fff;
		z-index: 9;
		box-shadow: 0 0 1px 0 #eee;
		.header_logo{
			line-height: 2.8rem;
		}
		.menu{
			.nav{
				padding: 0 24px;
				li{
					display: inline-block;
					a{
						display: inline-block;
						padding: 0 29px;
					}
				}
			}
			.social{
				li{
					display: inline-block;
					padding-left: 21px;
					&:last-child{
						margin-left: 0;
					}
				}
			}
		}
		.nav_ham{
			display: none;
		}
		.nav_sm{
			display: none;
		}
	}
	.slider{
		position: relative;
		overflow: hidden;
		margin-top: 64px;
		.slider_item{
			opacity: 0;
			visibility: hidden;
			transition: all 1s ease-out;
			position: absolute;
			left: 0;
			width: 100%;
			clip: rect(0px,100vw,100vh,0);
			img{
				width: 100%;
			}
		}
		.open{
			opacity: 1;
			visibility: visible;
			clip: rect(0px,100vw,100vh,100vw);
		}
	}
}
