
.inline-blocks > .block{
  display: inline-block;
  vertical-align: middle;
}
.image{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-top: 22px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1s ease-out;
}

.image.open{
  opacity: 1;
  transform: translateY(0);
}

.twenty-one{
  font-size: 40px;
  font-family: 'Patrick Hand', cursive;
  font-weight: 100;
  line-height: 1.2;
  color: #fff;
  margin: 0 0 40px;
  letter-spacing: 2px;
}

.twenty-one span{
  font-size: 50px;
  font-family: 'Patrick Hand', cursive;
}

.bday{
  font-size: 24px;
  color: #fff;
  font-family: 'Patrick Hand', cursive;
  font-weight: 300;
  text-align: center;
}

.cover{
  background-image: url('../images/bg.png');
  background-position: center center;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1000;
}

.cover:after{
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
}

#can{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}


.super-centered-container{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-out;
}

.super-centered-container.open{
  opacity: 1;
  visibility: visible;
}

small{
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  line-height: 2;
  display: block;
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  background:#131313;
  overflow:hidden;
}

a{
  color: skyblue;
  text-decoration: none;
}

.overlay-static{
  position: relative;
  z-index: 1000;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

body{
  position: relative;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: lightpink;
  z-index: 9999;
  border-radius: 10px;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-out;
}

.content.open{
  opacity: 1;
  visibility: visible;
}

.content p{
  font-family: 'Be Vietnam', sans-serif;
  font-family: 'Charmonman', cursive;
  display: none;
  font-size: 16px;
  text-align: justify;
}

.content p span{
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}


#btn{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 50px;
  height: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-out;
  z-index: 9999;
}

#btn img{
  width: 100%;
  height: auto;
}

#btn.open{
  opacity: 1;
  visibility: visible;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}