/* http://material.colorion.co/palette/3320 */
body {
  font-family: 'Righteous', cursive;
  color:white;
  text-align: center;
  margin: 0;
  background: lightpink;
  background-image: url('https://i.imgur.com/BiSmXaq.png'), url('https://i.imgur.com/XHuy0NJ.png'), url('https://i.imgur.com/okpRxJU.png');
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

@-webkit-keyframes snow {
  0% { background-position: 0px, 0px, 0px, 0xp, 0xp, 0xp}
  50% { background-color: lightpink }
  100% { background-position: 500px 1000px, 400px 400px, 300px 300px;
  background-color: lightpink;
  }
}
@-moz-keyframes snow {
  0% { background-position: 0px, 0px, 0px, 0xp, 0xp, 0xp}
  50% { background-color: lightpink }
  100% { background-position: 500px 1000px, 400px 400px, 300px 300px;
  background-color: lightpink;
  }
}
@-ms-keyframes snow {
  0% { background-position: 0px, 0px, 0px, 0xp, 0xp, 0xp}
  50% { background-color: lightpink }
  100% { background-position: 500px 1000px, 400px 400px, 300px 300px;
  background-color: lightpink;
  }
}
@keyframes snow {
  0% { background-position: 0px, 0px, 0px, 0xp, 0xp, 0xp}
  50% { background-color: lightpink }
  100% { background-position: 500px 1000px, 400px 400px, 300px 300px;
  background-color: lightpink;
  }
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align:center;
  font-size: 60px;
  color:white;
  text-shadow: 4px 2px 3px rgba(0,0,0, 0.6);
  margin-bottom: 30px;
  margin-top: 0;
}

#clockdiv {
  width: 1000px;
  width: 100%;
  top:50%;
  left:50%;
  font-size: 50px;
}
.inner {
  display:inline-block;
  border: 5px solid white;
  padding: 13px 20px 27px;
  width: 135px;
  height: 135px;
  margin: 0 3px 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.5);
  background: repeating-linear-gradient(55deg, 
    rgba(221, 72, 72, 0.1), 
    rgba(221, 72, 72, 0.1) 5px,
    rgba(255, 255, 255, 0.2) 5px, 
    rgba(255, 255, 255, 0.2) 10px);
}
.inner .smalltext {
  font-size: 20px;
  text-shadow: 4px 2px 3px rgba(0,0,0, 0.6);
}

.days {
  text-shadow: 4px 2px 3px rgba(0,0,0, 0.6);
}
.hours {
  text-shadow: 4px 2px 3px rgba(0,0,0, 0.6);
}
.minutes {
  text-shadow: 4px 2px 3px rgba(0,0,0, 0.6);
}
.seconds {
  text-shadow: 4px 2px 3px rgba(0,0,0, 0.6);
}
