@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

a:hover {
  text-decoration: none;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:hover img {
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:focus {
  outline: none;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #000;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', YuGothic, '游ゴシック', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Tahoma, Verdana, Arial, Verdana, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

a {
  color: #000;
}

body {
  overflow-wrap: break-word;
  word-break: break-word;
}

.img_ck {
  font-size: 0.1rem;
  line-height: 0;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}

ul,
ol,
li {
  list-style: none;
}

.file {
  border-top: 1px dotted #cccccc;
  margin: 15px 0;
  padding: 10px 0 0;
  text-align: left;
}

.file .pdf {
  background: url(../images/cms/pdf.png) left center no-repeat;
  line-height: 37px;
  padding: 4px 0 0 40px;
}

.file .ppt {
  background: url(../images/cms/ppt.png) left center no-repeat;
  line-height: 37px;
  padding: 4px 0 0 40px;
}

.file .xls,
.file .xlsx {
  background: url(../images/cms/xls.png) left center no-repeat;
  line-height: 37px;
  padding: 4px 0 0 40px;
}

.file .doc,
.file .docx {
  background: url(../images/cms/doc.png) left center no-repeat;
  line-height: 37px;
  padding: 4px 0 0 40px;
}

.top-right {
  float: right;
  margin: 0px 0px 30px 30px;
}

.top-left {
  float: left;
  margin: 0px 30px 30px 0px;
}

.top-center {
  margin: 0px 0px 30px 0px;
  text-align: center;
}

.bottom-right {
  float: right;
  margin: 30px 0px 0px 30px;
}

.bottom-left {
  float: left;
  margin: 30px 30px 0px 0px;
}

.bottom-center {
  margin: 30px 0px 0px 0px;
  text-align: center;
}

.entry-container b {
  font-weight: bold;
}

.entry-container i {
  font-style: italic;
}

html,
body {
  width: 100%;
  height: 100%;
}

.row {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 769px), print {
  .show_sp {
    display: none !important;
  }
  .container {
    min-width: 1130px;
    overflow: hidden;
  }
  .row {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .btn_more {
    display: block;
    position: relative;
  }
  .btn_more:after {
    content: '';
    width: 12px;
    height: 11px;
    background: url("../images/arrow_pc.png") no-repeat;
    position: absolute;
    right: 0;
    top: 1px;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
  }
  .btn_more:hover:after {
    -webkit-transform: translateX(2px);
       -moz-transform: translateX(2px);
        -ms-transform: translateX(2px);
            transform: translateX(2px);
  }
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
  small {
    font-size: 1.3rem;
  }
  .animateOff {
    -webkit-transform: translate3d(130px, 0, 0);
       -moz-transform: translate3d(130px, 0, 0);
            transform: translate3d(130px, 0, 0);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    opacity: 0;
  }
  .animateOn {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  /** ===================
Header
======================**/
  .header {
    width: 100%;
    min-width: 1000px;
    background: #fff;
    z-index: 99;
    -moz-box-shadow: 0 0 2px 0 #eee;
         box-shadow: 0 0 2px 0 #eee;
  }
  .header .main_header {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 13px 26px 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    align-items: center;
    min-width: 1130px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9;
    -moz-box-shadow: 0 0 1px 0 #eee;
         box-shadow: 0 0 1px 0 #eee;
  }
  .header .main_header .header_logo {
    line-height: 2.8rem;
  }
  .header .main_header .menu .nav {
    padding: 0 24px;
  }
  .header .main_header .menu .nav li {
    display: inline-block;
  }
  .header .main_header .menu .nav li a {
    display: inline-block;
    padding: 0 29px;
  }
  .header .main_header .menu .social li {
    display: inline-block;
    padding-left: 21px;
  }
  .header .main_header .menu .social li:last-child {
    margin-left: 0;
  }
  .header .main_header .nav_ham {
    display: none;
  }
  .header .main_header .nav_sm {
    display: none;
  }
  .header .slider {
    position: relative;
    overflow: hidden;
    margin-top: 64px;
  }
  .header .slider .slider_item {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
    position: absolute;
    left: 0;
    width: 100%;
    clip: rect(0px, 100vw, 100vh, 0);
  }
  .header .slider .slider_item img {
    width: 100%;
  }
  .header .slider .open {
    opacity: 1;
    visibility: visible;
    clip: rect(0px, 100vw, 100vh, 100vw);
  }
  .footer {
    background: #000;
    padding: 29.5px 0;
  }
  .footer .copyright {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 1.1px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 1.30208vw;
  }
  .show_pc {
    display: none !important;
  }
  .container {
    min-width: 320px;
    width: 100%;
  }
  .row {
    padding-left: 1.95313vw !important;
    padding-right: 1.95313vw !important;
    width: 100%;
  }
  .btn_more {
    display: block;
  }
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
  small {
    font-size: 2rem;
  }
  /** ===================
Header
======================**/
  /** ===================
Header
======================**/
  .header {
    width: 100%;
    min-width: 320px;
    background: #fff;
    z-index: 99;
    -moz-box-shadow: 0 0 2px 0 #eee;
         box-shadow: 0 0 2px 0 #eee;
  }
  .header .main_header {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.08333vw 1.95313vw 3.25521vw;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    align-items: center;
    min-width: 320px;
  }
  .header .main_header .header_logo {
    line-height: 2.8rem;
  }
  .header .main_header .header_logo img {
    width: 30.07813vw;
  }
  .header .main_header .menu {
    position: fixed;
    top: 0;
    right: -43.61979vw;
    height: 100%;
    background: #000;
    z-index: 9;
    display: block;
    width: 43.61979vw;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    padding: 16.66667vw 7.29167vw;
  }
  .header .main_header .menu .nav li a {
    padding-bottom: 5.46875vw;
    display: block;
  }
  .header .main_header .menu .nav li:first-child img {
    width: 19.66146vw;
  }
  .header .main_header .menu .nav li:nth-child(2) img {
    width: 13.41146vw;
  }
  .header .main_header .menu .nav li:nth-child(3) img {
    width: 13.93229vw;
  }
  .header .main_header .menu .nav li:nth-child(4) img {
    width: 11.84896vw;
  }
  .header .main_header .menu .nav li:nth-child(5) img {
    width: 13.67188vw;
  }
  .header .main_header .menu .nav li:last-child img {
    width: 17.05729vw;
  }
  .header .main_header .menu .social {
    margin-top: 2.60417vw;
  }
  .header .main_header .menu .social li {
    display: inline-block;
    padding-right: 5.20833vw;
  }
  .header .main_header .menu .social li:first-child img {
    width: 1.95313vw;
  }
  .header .main_header .menu .social li:nth-child(2) img {
    width: 3.38542vw;
  }
  .header .main_header .menu .social li:nth-child(3) img {
    width: 3.64583vw;
  }
  .header .main_header .active {
    right: 0;
  }
  .header .main_header .nav_ham {
    height: 3.51563vw;
    width: 5.20833vw;
    position: relative;
    cursor: pointer;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -moz-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-duration: .22s;
       -moz-transition-duration: .22s;
            transition-duration: .22s;
    z-index: 99;
  }
  .header .main_header .nav_ham span {
    width: 5.20833vw;
    height: 0.39063vw;
    background: #000;
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
  }
  .header .main_header .nav_ham span:before {
    content: '';
    position: absolute;
    width: 5.20833vw;
    height: 0.39063vw;
    background: #000;
    top: -1.43229vw;
    -webkit-transition: top .1s ease-in .25s,opacity .1s ease-in;
    -moz-transition: top .1s ease-in .25s,opacity .1s ease-in;
    transition: top .1s ease-in .25s,opacity .1s ease-in;
  }
  .header .main_header .nav_ham span:after {
    content: '';
    position: absolute;
    width: 5.20833vw;
    height: 0.39063vw;
    background: #000;
    bottom: -1.43229vw;
    -webkit-transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -moz-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -moz-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .header .main_header .open {
    position: fixed;
    right: 1.95313vw;
  }
  .header .main_header .open span {
    -webkit-transition-delay: .12s;
       -moz-transition-delay: .12s;
            transition-delay: .12s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(225deg);
       -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
    background: #fff;
  }
  .header .main_header .open span:before {
    top: 0;
    -webkit-transition: top .1s ease-out,opacity .1s ease-out .12s;
    -moz-transition: top .1s ease-out,opacity .1s ease-out .12s;
    transition: top .1s ease-out,opacity .1s ease-out .12s;
    opacity: 0;
    background: #fff;
  }
  .header .main_header .open span:after {
    bottom: 0;
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    -moz-transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -moz-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -moz-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background: #fff;
  }
  .header .slider {
    position: relative;
    overflow: hidden;
  }
  .header .slider .slider_item {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
    position: absolute;
    left: 0;
    width: 100%;
  }
  .header .slider .slider_item img {
    width: 100%;
  }
  .header .slider .open {
    opacity: 1;
    visibility: visible;
    top: 0;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .footer {
    background: #000;
    padding: 2.99479vw 0 3.64583vw;
  }
  .footer .copyright {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
  }
}
