.btn_more{
	position: relative;
	display: inline-block;
	line-height: 1.4rem;
	border-radius: 5px;
	letter-spacing: 2.5px;
	&:after{
		content: '';
		width: 7px;
		height: 11px;
		background: url('../images/arrow_pc.png') no-repeat;
		background-size: contain;
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		right: 15px;
		transition: all .5s ease;
		transform: translateX(0);
	}
	&:hover{
		&:after{
			transform: translateX(5px);
		}
	}
}