.btn_more{
	position: relative;
	display: inline-block;
	font-size: 2.6rem;
	border-radius: 5px;
	&:after{
		content: '';
		width: vw(13);
		height: vw(20);
		background: url('../images/arrow_sp.png') no-repeat;
		background-size: contain;
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		right: vw(39);
	}
}