@charset "utf-8";
// ===================================================================
//	common_sp.css
// ===================================================================
img {
  width: 100%;
  height: auto;
}
.show_pc {
  display: none!important;
}

.container {
	min-width: 320px;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}

.row {
	width: 100%;
	margin: 0 auto;
	padding: 0 vw(24);
	overflow: hidden;
}

.pc{
	display: none !important;
}
.sp{
	display: block !important;
}

.title_head{
	font-size: 3.6rem;
	font-weight: normal;
	letter-spacing: vw(7);
	&:before{
		content: '';
		width: vw(29);
		height: vw(29);
		background: url('../images/shape_sp.png') no-repeat;
		background-size: contain;
		display: inline-block;
		margin-right: vw(18);
	}
}

@import "./_header_sp.scss";
@import "./_footer_sp.scss";
@import "./_ttl_sp.scss";
@import "./_pagination_sp.scss";
@import "./_btn_sp.scss";