.main_footer{
	display: flex !important;
	justify-content: space-between;
	align-items: center;
	padding: 11px 0 97px;
	ul{
		li{
			display: inline-block;
			a{
				letter-spacing: .5px;
			}
			&:nth-child(2){
				&:before{
					content: '';
					width: 10px;
					height: 10px;
					background: url('../images/shape_footer_pc.png') no-repeat;
					background-size: contain;
					display: inline-block;
					margin: 0 20px 0 12px;
				}
				&:after{
					content: '';
					width: 10px;
					height: 10px;
					background: url('../images/shape_footer_pc.png') no-repeat;
					background-size: contain;
					display: inline-block;
					margin: 0 15px 0 18px;
				}
			}
		}
	}
	p{
		letter-spacing: .6px;
	}
}