/** ===================
Header
======================**/

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
	.header_left{
		display: flex;
		align-items: center;
		.header_logo{
			padding-bottom: 27px;
			padding-left: 9px
		}
		.nav{
			padding: 0 11px 0 36px;
			li{
				display: inline-block;
				a{
					font-family: 'Open Sans', sans-serif;
					font-size: 1.5rem;
					text-transform: uppercase;
					font-weight: bold;
					padding: 0 10px;
					position: relative;
					letter-spacing: 3px;
					&:before{
						content: '';
						width: 28px;
						height: 9px;
						background: url('../images/shape_header_pc.png') no-repeat;
						background-size: contain;
						position: absolute;
						margin: auto;
						left: 0;
						right: 0;
						top: -17px;
						opacity: 0;
						transition: all 1s ease-out;
					}
					&:hover{
						&:before{
							opacity: 1;
						}
					}
				}
			}
		}
		.cart{
			font-size: 1.2rem;
			background: #f5f5f5;
			padding: 8px 23px 8px 17px;
			border-radius: 3px;
			figure{
				float: left;
				padding-right: 24px;
				position: relative;
				figcaption{
					font-size: 1.1rem;
					font-family: 'Open Sans', sans-serif;
					font-weight: bold;
					position: absolute;
					bottom: -2px;
					right: 15px;
					background: #f8de21;
					border-radius: 50%;
					width: 17px;
					height: auto;
					text-align: center;
				}
			}
			em{
				font-style: normal;
				font-weight: bold;
			}
		}
	}
	.header_right{
		.tel_box{
			background: #ffe109;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 5px 10px 7px;
			border-radius: 5px;
			.tel{
				display: flex;
				align-items: center;
				text-align: center;
				padding-right: 10px;
				box-shadow: 1px 0px 0px 0 #dcc62a;
				img{
					padding: 5px 9px 0 5px;
				}
				.phone{
					font-size: 1.811rem;
					font-family: 'Open Sans', sans-serif;
					font-weight: bold;
					letter-spacing: 1px;
					line-height: 1.4rem;
					pointer-events: none;
					letter-spacing: .5px;
					small{
						font-size: .8rem;
						display: block;
						font-weight: bold;
						font-family: 'Noto Sans Japanese';
					}
				}
			}
			.time{
				margin: 5px 0 0 12px;
				font-size: 1.1rem;
				font-weight: bold;
				letter-spacing: .5px;
			}
		}
		.fax{
			font-size: 1.2rem;
			text-align: center;
			margin-top: 5px;
			font-weight: bold;
			letter-spacing: 0.3px;
		}
	}
}
@supports (-webkit-marquee-repetition:infinite) and (object-fit:fill) {
	.header .header_left .cart figure figcaption{
		padding-left: 1.5px;
	}
}