@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.top{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &_video{
    &_in{
      video{
        min-width: 100%;
        min-height: 100%;
        height: vw(954);
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }
    }
  }
  &_ct{
    z-index: 1;
    margin: 0;
    figure{
      img{
        width: vw(472);
        height: auto;
      }
    }
  }
  &_scr{
    display: none;
  }
}
.message{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &_video{
    &_in{
      video{
        min-width: 100%;
        min-height: 100%;
        height: vw(954);
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 1;
      }
    }
  }
  &_ct{
    z-index: 1;
    .message_wrapper{
      width: vw(460);
      box-sizing: border-box;
      .message_col_tt{
        display: inline-block;
        margin-bottom: vw(20);
        padding: vw(15);
        box-sizing: border-box;
        background: #fff;
        img{
          width: vw(214);
          height: auto;
        }
      }
      .message_col_ct{
        p{
          font-size: vw(20);
          line-height: vw(34);
          color: #fff;
          font-weight: normal;
          letter-spacing: vw(-1);
        }
      }
    }
  }
}
.member{
  &_wrapper{
    width: vw(384);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    margin-top: vw(-50);
    .member_col_l{
      width: 100%;
      z-index: 1;
      order: 2;
      box-sizing: border-box;
      &_ct{
        h3{
          margin-bottom: vw(20);
          line-height: 0;
          span{
            color: #333333;
            font-family: $noto;
            font-weight: 500;
            display: inline-block;
            font-size: vw(40);
            line-height: 1.6;
            background: #fff;
            padding-left: vw(16);
            padding: vw(6) vw(6) vw(6) vw(10);
          }
        }
        p{
          font-size: vw(20);
          line-height: vw(32);
          color: #fff;
          margin-bottom: vw(20);
        }
      }
    }
    .member_col_r{
      z-index: 0;
      order: 1;
      width: 100%;
      display: flex;
      position: relative;
      margin-bottom: vw(60);
      &:before{
        content: '';
        width: vw(384);
        height: vw(384);
        background: #e60000;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        z-index: -1;
      }
      &:after{
        content: '';
        width: vw(384);
        height: vw(384);
        border: 1px solid rgba(#fff, .5);
        position: absolute;
        bottom: vw(16);
        left: vw(16);
        display: block;
        z-index: -1;
      }
      span{
        font-size: vw(64);
        line-height: 1;
        color: #fff;
        font-family: $ropa;
        position: absolute;
        bottom: vw(-33);
        left: 0;
        border-bottom: vw(4) solid #fff;
        z-index: 1;
      }
      picture{
        width: 100%;
        left: 0;
        right: 0;
        position: relative;
        img{
          display: block;
          margin: 0 auto;
          width: vw(332);
          height: auto;
        }
      }
    }
  }
  &.member1{
    background: url('../images/sp/bg_member1.jpg') no-repeat;
    background-size: cover;
  }
  &.member2{
    background: url('../images/sp/bg_member2.jpg') no-repeat;
    background-size: cover;
  }
  &.member3{
    background: url('../images/sp/bg_member3.jpg') no-repeat;
    background-size: cover;
  }
  &.member4{
    background: url('../images/sp/bg_member4.jpg') no-repeat;
    background-size: cover;
  }
}