@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

@import "../common/css/_mixin/mixin";
//---------------------------------------------------------------------------
@include min-screen() {
  @import "./_style_pc.scss";
}

@include max-screen() {
  @import "./_style_sp.scss";
}
