@charset "utf-8";
// ===================================================================
//  use index page
// ===================================================================

@charset "utf-8";
// ===================================================================
//  use index page
// ===================================================================

.about{
	padding: vw(44) vw(15) vw(100);
	figure{
		text-align: center;
		margin-bottom: vw(15);
		img{
			width: vw(199);
		}
	}
	p{
		padding: vw(50) vw(3) vw(65);
		position: relative;
		img{
			width: vw(715);
		}
		&:after{
			content:'';
			width: vw(101);
			height: 1px;
			background: #000;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	small{
		padding: vw(47) 0;
		display: block;
		position: relative;
		img{
			width: vw(731);
		}
		&:after{
			content:'';
			width:  vw(101);
			height: 1px;
			background: #000;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}

.banner{
	img{
		width: 100%;
	}
}

.info{
	padding: vw(124) 0 vw(40);
	.title_info{
		text-align: center;
		padding-bottom: vw(49);
		margin-bottom: vw(40);
		position: relative;
		img{
			width: vw(487);
		}
		&:after{
			content:'';
			width: vw(130);
			height: 1px;
			background: #eaa8ae;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}
	.filter{
		padding: vw(10) 0;
		flex-wrap: wrap;
		li{
			margin-right: vw(10);
			margin-bottom: vw(18);
			text-align: center;
			border: 1px solid #000;
			width: 32.333%;
			&:nth-child(3){
				margin-right: 0;
			}
			a{
				display: block;
				padding: vw(16) 0;
				font-size: 2rem;
			}
		}
	}
	.group_info{
		flex-wrap: wrap;
		margin-top: vw(20);
		.box_info{
			width: 50%;
			margin: 0 0 vw(43);
			a{
				small{
					font-size: 2rem;
					text-align: right;
					display: block;
				}
				figure{
					margin: vw(8) 0 vw(21);
					position: relative;
					img{
						width: vw(335);
					}
					&:before{
						content: '';
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.7);
						position: absolute;
						left: 0;
						top: 0;
						opacity: 0;
						transition: all .5s ease;
					}
					.box_hover{
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						width: vw(124);
						height: vw(124);
						color: #fff;
						border: 1px solid #fff;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: center;
						align-items: center;
						padding: vw(30) vw(20);
						opacity: 0;
						transition: all .5s ease;
						time{
							display: block;
							font-family: Arial;
							font-size: 1.1rem;
							font-style: italic;
							padding-bottom: vw(10);
							margin-bottom: vw(2);
							border-bottom: 1px solid #fff;
							transform: translate(-200px, 200px);
							transition: all 0.2s ease-in-out;
						}
						em{
							font-family: Times New Roman;
							font-size: 1.9rem;
							transform: translate(-200px, 200px);
							transition: all 0.2s ease-in-out;
						}
					}
				}
				&:hover{
					opacity: 1;
					figure{
						img{
							opacity: 1
						}
						&:before{
							opacity: 1;
						}
						.box_hover{
							opacity: 1;
							time{
								transform: translate(0px,0px); 
								transition-delay: 0.2s;
							}
							em{
								transform: translate(0px,0px); 
								transition-delay: 0.3s;
							}
						}
					}
				}
			}
			&:first-child{
				padding-right: vw(34);
				h4{
					img{
						width: vw(316);
					}
				}
			}
			&:nth-child(3n+4){
				padding-right: vw(34);
				h4{
					img{
						width: vw(316);
					}
				}
			}
			&:nth-child(3n+2){
				padding-left: vw(34);
				h4{
					img{
						width: vw(323);
					}
				}
			}
			&:nth-child(3n+3){
				display: none;
			}
		}
	}
	.pagination{
		justify-content: center;
		padding: 0 vw(18);
		margin-top: vw(40);
		li{
			a{
				display: block;
				font-family: Arial;
				font-size: 3rem;
				font-weight: normal;
				color: #a7a7a7;
				margin: 0 vw(33) 0 vw(64);
				padding-bottom: vw(18);
				border-bottom: 2px solid transparent;
				&:hover{
					color: #000;
					border-bottom: 1px solid #000;
				}
			}
			.active{
				color: #000;
				border-bottom: 1px solid #000;
				width: vw(17);
			}
			.next{
				&:hover{
					color: #000;
					border-bottom: 1px solid transparent;
				}
				img{
					vertical-align: initial;
					width:  vw(12);
				}
			}
		}
	}
}

.develop{
	padding: vw(125) 0 vw(204);
	text-align: center;
	.topSp{
		font-size: 2.1rem;
		letter-spacing: 4.5px;
	}
	.title_developSp{
		text-align: center;
		padding: vw(21) 0 vw(46);
		margin-bottom: vw(19);
		position: relative;
		img{
			width: vw(733);
		}
		&:after{
			content: '';
			width: 100%;
			height: 1px;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			background: #000;
		}
	}
	.develop_inner{
		display: block;
		figure{
			img{
				width: vw(520);
			}
		}
		.content_develop{
			small{
				display: none;
			}
			.title_develop{
				display: none;
			}
			p{
				padding: vw(36) 0 vw(43);
				img{
					width: vw(732);
				}
			}
			.btn_develop{
				margin-bottom: vw(30);
				li{
					width: vw(234);
					display: inline-block;
					text-align: center;
					border: 1px solid #000;
					margin-right: vw(18);
					&:first-child{
						img{
							width: vw(81);
						}
					}
					&:nth-child(2){
						img{
							width: vw(113);
						}
					}
					&:last-child{
						margin-right: 0;
						img{
							width: vw(82);
						}
					}
					a{
						display: block;
						padding: vw(21) 0;
						line-height: 2rem;
					}
				}
			}
			.btn_more{
				float: right;
				padding: vw(53) 0 0;
				img{
					width: vw(200);
				}
			}
		}
	}
	
}

.promotion{
	padding: vw(26) 0 vw(68);
	background: #f7f7f7;
	text-align: center;
	overflow: hidden;
	.promotion_inner{
		display: block;
		figure{
			img{
				margin-right: vw(5);
				width: vw(654);
			}
		}
		.content_promotion{
			text-align: center;
			small{
				font-size: 2.1rem;
				display: block;
				padding: vw(48) 0 vw(22);
				letter-spacing: 3px;
			}
			.title_promotion{
				padding-bottom:  vw(45);
				margin-bottom:  vw(45);
				position: relative;
				&:after{
					content: '';
					width: 100%;
					height: 1px;
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					background: #000;
				}
				img{
					margin-right: vw(25);
					width: vw(357);
				}
			}
			p{
				padding: vw(38) 0 vw(31);
				img{
					width: vw(727);
					margin-right: vw(5);
				}
			}
			.btn_promotion{
				margin: 0 vw(-5) vw(62);
				li{
					//width: vw(357);
					display: inline-block;
					text-align: center;
					border: 1px solid #000;
					width: 48%;
					a{
						display: block;
						padding: vw(21.5) 0;
						line-height: 1.3rem;
						img{
							width: vw(174);
						}
					}
					&:first-child{
						margin-right: vw(24);
						a{
							img{
								width: vw(192);
							}
						}
					}
				}
			}
			.btn_more{
				float: right;
				img{
					width: vw(200);
				}
			}
		}
	}
}

.ecommer{
	padding: vw(78) 0 vw(35);
	text-align: center;
	overflow: hidden;
	small{
		letter-spacing: 4.5px;
	}
	figure{
		img{
			width: vw(601);
			padding: vw(41) 0 vw(2);
			margin-right: vw(5);
		}
	}
	.title_ecommer{
		padding: vw(22) 0 vw(46);
		border-bottom: 1px solid #000;
		img{
			width: vw(383);
		}
	}
	.ecommer-inner{
		display: block;
		.content_ecommer{
			.stitle_ecommer{
				padding: vw(44) 0 vw(31);
				text-align: left;
				img{
					width: vw(725);
				}
			}
			.btn_ecommer{
				border: 1px solid #000;
				display: block;
				margin: vw(30) 0 vw(28);
				padding: vw(21) 0;
				img{
					width: vw(158);
				}
			}
			.sponsor{
				align-items: center;
				li{
					a{
						padding: 0 vw(11);
						display: block;
					}
					&:first-child{
						img{
							width: vw(120);
						}
					}
					&:nth-child(2){
						img{
							width: vw(106);
						}
					}
					&:nth-child(3){
						img{
							width: vw(139);
						}
					}
					&:nth-child(4){
						img{
							width: vw(78);
						}
					}
					&:last-child{
						img{
							width: vw(195);
						}
					}
				}
			}
			.nav_ecommer{
				width: vw(678);
				margin: 0 auto;
				li{
					position: relative;
					a{
						padding: 0 vw(20) 0 vw(14);
						display: block;
					}
					&:after{
						content: '/';
						display: inline-block;
						position: absolute;
						right: 0;
						top: 0;
						font-size: 2.1rem;
						line-height: 2.1rem;
					}
					&:first-child{
						img{
							width: vw(89);
						}
					}
					&:nth-child(2){
						img{
							width: vw(89);
						}
					}
					&:nth-child(3){
						img{
							width: vw(90);
						}
					}
					&:nth-child(4){
						img{
							width: vw(108);
						}
					}
					&:last-child{
						img{
							width: vw(128);
						}
						&:after{
							display: none;
						}
					}
				}
			}
			.btn_more{
				margin-top: vw(68);
				float: right;
				img{
					width: vw(200);
				}
			}
		}
	}
}

.store{
	text-align: center;
	padding: vw(104) 0  vw(66);
	overflow: hidden;
	background: #f7f7f7;
	small{
		letter-spacing: 4.5px;
	}
	.title_store{
		margin: vw(23) 0 vw(3);
		padding-bottom: vw(46);
		position: relative;
		img{
			width: vw(545);
			margin-right: vw(15);
		}
		&:after{
			content: '';
			width: 100%;
			height: 1px;
			background: #636363;
			position: absolute;
			bottom: 0;
			margin: auto;
			left: 0;
			right: 0;
			box-shadow: 0 1px 0 0 #949494;
		}
	}
	.group_store{
		padding: vw(83) vw(20) vw(47);
		display: block;
		.box_store{
			margin-bottom: vw(53);
			a{
				display: inline-block;
				figure{
					overflow: hidden;
					img{
						transition: all 1s ease-out;
						transform: scale(1);
						width: vw(440);
					}
				}
				h4{
					text-align: left;
					font-size: 2.3rem;
					line-height: 2.3rem;
					color: #000;
					font-family: Arial;
					margin-top: vw(17);
					letter-spacing: 1px;
				}
				&:hover{
					figure{
						img{
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
	p{
		text-align: left;
		padding-left: vw(43);
		img{
			width: vw(498);
		}
	}
	.btn_more{
		float: right;
		margin-top: vw(93);
		img{
			width: vw(200);
		}
	}
}
.company{
	padding: vw(74) 0 vw(54);
	margin: 0 auto;
	overflow: hidden;
	figure{
		text-align: center;
		img{
			width: vw(699);
		}
	}
	.title_company{
		text-align: center;
		margin: vw(-22) 0 vw(64);
		img{
			width: vw(397);
		}
	}
	.info_company{
		display: flex;
		margin-bottom: vw(18);
		margin-left: vw(10);
		dt{
			display: inline-block;
			width: vw(162);
		}
		&:nth-child(3){
			dt{
				img{
					width: vw(41);
				}
			}
			dd{
				img{
					width: vw(149);
				}
			}
		}
		&:nth-child(4){
			dt{
				img{
					width: vw(43);
				}
			}
			dd{
				img{
					width: vw(355);
				}
			}
		}
		&:nth-child(5){
			dt{
				img{
					width: vw(113);
				}
			}
			dd{
				img{
					width: vw(115);
				}
			}
		}
		&:nth-child(6){
			dt{
				img{
					width: vw(44);
				}
			}
			dd{
				img{
					width: vw(230);
				}
			}
		}
		&:nth-child(7){
			dt{
				img{
					width: vw(46);
				}
			}
			dd{
				img{
					width: vw(158);
				}
			}
		}
	}
	.btn_more{
		float: right;
		margin-top: vw(36);
		img{
			width: vw(200);
		}
	}
}
.map{
	width: 100%;
	height: vw(314);
	display: block;
}
.top_footer{
	.social_footer{
		padding: vw(51) 0 0;
		display: block;
		li{
			text-align: center;
			width: 100%;
			a{
				display: block;
				padding: vw(58) 0;
				margin-bottom: vw(20);
				width: 100%;
				border: 1px solid #7d7d7d;
				position: relative;
				transition: all .5s ease-out;
				figure{
					overflow: hidden;
					line-height: 4.8rem;
				}
				&:before{
					content: '';
					position: absolute;
					margin: auto;
					top: 0;
					bottom: 0;
				}
			}
			.twitter{
				img{
					width: vw(172);
					margin-right: vw(35);
				}
				&:before{
					width: vw(57);
					height: vw(45);
					left: vw(56);
					background: url('../images/icon_twitter_sp.png') no-repeat;
					background-size: contain;
				}
			}
			.facebook{
				img{
					width: vw(234);
					margin-left: vw(20);
				}
				&:before{
					width: vw(22);
					height: vw(45);
					left: vw(71);
					background: url('../images/icon_face_sp.png') no-repeat;
					background-size: contain;
				}
			}
			.instagram{
				img{
					width: vw(255);
					margin-left: vw(47);
					margin-top: vw(4);
				}
				&:before{
					width: vw(45);
					height: vw(45);
					left: vw(68);
					background: url('../images/icon_insta_sp.png') no-repeat;
					background-size: contain;
				}
			}
		}
	}
	.bottom_footer{
		justify-content: space-between;
		margin: vw(68) 0 vw(15);
		align-items: flex-end;
		.btn_privacy{
			padding-bottom: vw(24);
			img{
				width: vw(300);
			}
		}
		.top{
			img{
				width: vw(124);
			}
		}
	}
}
