/** ===================
Header
======================**/

header{
	&:before{
		content: '';
		position: relative;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 7px;
		background: #152427;
		box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.36);
	}
	.main_header{
		.header_bar{
			img{
			  position: absolute;
		    width: 100%;
		    left: 0;
		    top: 0;
		    height: 10px;
			}
		}
		.header_logo{
			display: flex;
			justify-content: space-between;
	    align-items: center;
			padding: 0 5px;
			.right{
				padding: 0 7px;
				display: block;
				span{
					width: 226px;
					height: 40px;
					overflow: hidden;
					display: block;
					img{
						position: relative;
						top: 0;
					}
				}
				&:hover{
					opacity: 1;
					img{
						top: -41px;
						opacity: 1;
					}	
				}
				&:active{
					transform: translate(1px, 1px);
					img{
						top: -82px;
						opacity: 1;
					}
				}
			}
		}
		.nav{
			padding: 8px 12px 6px;
	    background: url(../images/bg_menu.png) no-repeat;
	    background-size: cover;
	    margin-top: 4px;
			ul{
				display: flex;
	    	align-items: center;
	    	li{
	    		margin-right: 7px;
	    		a{
	    			padding: 4px 12px;
	    			color: #fff;
	    			border-radius: 5px;
	    			background: url(../images/bg_btn.png);
	    			background-size: contain;
	    			transition: all .5s ease-out;
	    			display: inline-block;
	    			&:hover{
	    				background: url(../images/bg_btn_hover.png);
	    				color: #fff;
	    				opacity: 1;
	    			}
	    		} 
	    	}
			}
		}
	}

}
