@charset "utf-8";
// ===================================================================
//  common.css
// ===================================================================

@import "_mixin/mixin";

//----------------------------------------------------
//  共通
//----------------------------------------------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:hover img {
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a:focus {
  outline: none;
}

img {
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}


html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #000;
  font-family: 'メイリオ', Meiryo, YuGothic, '游ゴシック', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', Tahoma, Verdana, Arial, Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
a {
  color: #000;
}
body {
  overflow-wrap: break-word;
  word-break: break-word;
  background: url(../images/bg.png);
  position: relative;
  &:before{
    content: '';
    width: 100%;
    height: 576px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/bg_body.png);
    z-index: -1;
  }
}
img {
  vertical-align: bottom;
}
.img_ck {
  font-size: rem(1);
  line-height: 0;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}
ul,
ol,
li {
  list-style: none;
}

//---------------------------------------------------------------------------
//CMS用
.file {
  border-top: 1px dotted #cccccc;
  margin: 15px 0;
  padding: 10px 0 0;
  text-align: left;

  .pdf {
    background: url(../images/cms/pdf.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
  .ppt {
    background: url(../images/cms/ppt.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
  .xls,
  .xlsx {
    background: url(../images/cms/xls.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
  .doc,
  .docx {
    background: url(../images/cms/doc.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
}

.top-right {
  float: right;
  margin: 0px 0px 30px 30px;
}
.top-left {
  float: left;
  margin: 0px 30px 30px 0px;
}
.top-center {
  margin: 0px 0px 30px 0px;
  text-align:center;
}
.bottom-right {
  float: right;
  margin: 30px 0px 0px 30px;
}
.bottom-left {
  float: left;
  margin: 30px 30px 0px 0px;
}
.bottom-center {
  margin: 30px 0px 0px 0px;
  text-align:center;
}
.entry-container b {
  font-weight: bold;
}
.entry-container i {
  font-style: italic;
}
html,
body {
  width: 100%;
  height: 100%;
}
.row {
  min-width: 960px;
  width: 100%;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
//---------------------------------------------------------------------------
// .gmnoprint a, 
// .gmnoprint span,
// .gm-style-cc,
// .gm-style-mtc,
// a[href^="https://www.google.com/maps"],
// a[href^="http://maps.google.com/maps"],
// a[href^="https://maps.google.com/maps"] {
//   display:none !important
// }
@import "./_common_pc.scss";
@include min-screen() { 

}
@include max-screen() {
  @import "./_common_sp.scss";
}

